{% extends "v1/layouts/layout.html" %}


{% block filters %}
	{% include "v1/partials/filters.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Geo Co-Authors Networks
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
  
	{% include "v1/partials/current_filters.html" %}

	<div class="container">  	
  	<button id="transform-to-network" class="btn deep-purple lighten-2">Transform to Network</button>
		<button id="transform-to-map" class="btn deep-purple lighten-2" style="display:none">Transform to Map</button>	
		<button id="change_vis1" class="btn deep-purple lighten-2" style="display:none">Cambiar visualización</button>
		<button id="change_vis2" class="btn deep-purple lighten-2" style="display:none">Cambiar visualización</button>
	</div>
{% endblock%}


{% block visualization_block %}
	<div class="container">
  	<div class="col s12 m12 l6">
  		<div id="world">
				<div id="world_legend"></div>
  		</div>
			<div id="network"></div>
  	</div>
  </div>
{% endblock %}


{% block results %}
	<div class="container">
		<hr>
  	<div class="col s12 m12 l6">
  		<table id="dataTable1" class="bordered striped">
  			<thead>
  				<td></td>
  				<th>Country</th>
  				<th>Provided number of co-author relationships</th>
  				<th>Co-author country diversity</th>  	
  				<th>Co-authors from </th>  				
  			</thead>
  			<tbody>
          {% for country, rel in data[1].items() %}  				
	  				<tr>
              <td><img src="/static/img/flags/{{country.lower()}}.gif"></td>              
	  					<td>{{ country }}</td>
	  					<td>{{ rel }}</td>
	  					<td>
	  						{{ 100*((data[0][country]|count)/240)|round(3) }} <!--  hacer json con valores calculados-->
	  					</td>	  		
	  					<th> <!-- Principales -->	
	  						{% for prin in data[0][country] %}
	  							<img src="/static/img/flags/{{prin.lower()}}.gif">
	  						{% endfor %}
	  					</th>		
	  				</tr>
          {% endfor %}
  			</tbody>
  		</table>
  	</div>
  	<!-- Exportar Data -->
  	<form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
  		<input id="export-input" type="hidden" name="vistype" value="{{ filters.vistype }}">
  		<input id="export-input" type="hidden" name="data" value="{{ data }}">
  		<button class="btn deep-purple right waves-effect waves-light">Export</button>
  	</form>
  	<br><br>
  </div>
{% endblock %}


{% block modals %}
	<!-- Modal Info Structure -->
	<div id="modal-info" class="modal bottom-sheet">
	  <div class="modal-content">
	    <h4>Geo Co-Authors Networks</h4>
		<p>The visualization shows the co-author relationships between authors of documents.</p>
		<p>When the mouse is hovering over the country, a detailed information is showed and links between countries appear. These links represents co-author relationships between authors of the selected country and authors of other countries.</p>
		<p>The color of the  country in the map represents the amount of co-author provided by  country according to the color scale displayed below the map. </p>
		<p>The visualization of the map can be transformed to a network representation, and viceversa.</p>
    <p><i>Example:</i></p>
    <p> Authors from Brazil have co-authors from Brazil, Republica Dominicana, Canada and France (Period 2004-2016, language french). </p>
    <img src="/static/img/coauthors.png" width="70%">		
		<p>
			The Table below the map shows information about the co-author relationships:
			<ol>
				<li>The number of co-authors provided by the country.</li>
				<li>The degree of diversity of the country. The degree is high if the authors of the  country work with authors from different countries,  and low , if the authors of the  country work with authors from few countries.</li>
				<li>Countries that generates co-author relationships with a country.</li>
			</ol>
		</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	  </div>
	</div>
{% endblock %}


{% block js_footer %}
	{% include "v1/partials/filters.js" %}
	{% include "v1/partials/current_filters.js" %}
	<script type="text/javascript">
		//ACTIVAR MODAL
		$('.modal-trigger').leanModal();

		//MAPA
		coauthor = {{ data|tojson }};
		var map = world_map(3, []);
		created_networks = false;
		coauthor_network(map, coauthor);

		$(document).ready(function() {
		    $('#dataTable1').DataTable({
		    	"order": [[ 2, "desc" ]]
		    });
		    $('select').material_select();
		});

	</script>
{% endblock %}