{% extends "v1/layouts/layout.html" %}


{% block filters %}
  {% include "v1/partials/filters.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
        Geo journal affiliation choice network
        <!-- Modal Info Trigger -->
        <a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
      </h4>
  	</div>
		<hr>
  </div>
  {% include "v1/partials/current_filters.html" %}
{% endblock%}


{% block visualization_block %}
	<div class="container">
  	<div class="col s12 m12 l6">
  		<div id="world">
				<div id="world_legend"></div>
  		</div>
			<div id="network"></div>
  	</div>
  </div>
{% endblock %}


{% block results %}
	<div class="container">
		<hr>
  	<div class="col s12 m12 l6">
  		<table id="dataTable1" class="bordered striped">
  			<thead>
          <th></th>          
  				<th>Collection</th>
  				<th>Times Chosen (Documents) </th>
          <th>Chosen by authors from</th>    
          <th></th>          
  			</thead>
  			<tbody>
          {% for country, choices in data[1].items() %}
            <tr>
              <td><img src="/static/img/flags/{{country.lower()}}.gif"></td>              
              <td>{{ country }}</td>
              <td>{{ choices }}</td>
              <td>{{ data[3][country]|count }} countries</td>
              <td>
                {% for country in data[3][country] %}
                  <img src="/static/img/flags/{{country.lower()}}.gif">
                {% endfor %}          
              </td>
            </tr>
          {% endfor %}
  			</tbody>
  		</table>
  	</div>
    <!-- Exportar Data -->
    <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
      <input id="export-input" type="hidden" name="vistype" value="{{ filters.vistype }}">
      <input id="export-input" type="hidden" name="data" value="{{ data }}">
      <button class="btn deep-purple right waves-effect waves-light">Export</button>
    </form>
  	<br><br>  
  </div>
{% endblock %}

{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Geo journal affiliation choice network</h4>
      <p>The visualization shows the collection/journals (countries) chosen by authors from different countries. </p>
      <p>When the mouse is hovering over the country, a detailed information is showed and links between countries appear. These links represents the collection choices made by  authors of the selected country.</p>
      <p>The color of the  country in the map represents the amount of choices made by authors from the world, according to the color scale displayed below the map. </p>
      <p><i>Example:</i></p>
      <p> Authors from Argentina choice journals from Brazil, Costa Rica, Colombia (Period 2004-2016, language french). </p>
      <img src="/static/img/collections.png" width="20%">


      <p>
        The Table below the map shows information about the co-author relationships:
        <ol>
          <li>The number of times chosen (documents)  provided by the country.</li>
          <li>Countries that choose a country.</li>
        </ol>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
  {% include "v1/partials/filters.js" %}
  {% include "v1/partials/current_filters.js" %}
	<script type="text/javascript">
    //ACTIVAR MODAL
    $('.modal-trigger').leanModal();

    //MAPA
    collection = {{ data|tojson }};
		var map = world_map(4, [collection[0],collection[2]]);
    collection_network(map, collection);

    $(document).ready(function() {
        $('#dataTable1').DataTable({
          "order": [[ 2, "desc" ]]
        });
        $('select').material_select();
    });
	</script>
{% endblock %}
