{% extends "v1/layouts/layout.html" %}

{% block filters %}
	{% include "v1/partials/filters.html" %}
{% endblock %}

{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Documents distribution by affiliation countries
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
	{% include "v1/partials/current_filters.html" %}
{% endblock%}

{% block visualization_block %}
	<div class="container">
  	<div class="col s12 m12 l6">
  		<div id="world">
				<div id="world_legend"></div>
  		</div>
			<div id="network"></div>
  	</div>
  </div>
{% endblock %}


{% block graph %}
	<div class="container">
	  	<div class="col s12 m12 l6">
	  		<center>
	  			<div id="country-graph"></div>
				<div id="graph"><svg style="width:600px;height:400px;"</svg></div>
			</center>				
	  	</div>
	</div>
{% endblock %}


{% block results %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<ul class="collapsible" data-collapsible="accordion">
  			{% for country, doc in data.items() %}
  				<li>
	  				<div class="collapsible-header">
	  					<div style="float: left; width: 10%;"><img src="/static/img/flags/{{country.lower()}}.gif"></div>
	  					<div style="float: left; width: 40%;">{{ country }}</div>
	  					<div style="float: left; width: 50%; text-align: center;">{{ doc }} Publications</div>
	  				</div>
	  				<div class="collapsible-body">
	  					<table class="responsive-table striped">
		  					{% for j in  journals[country]%}
		  						<tr>
		  							<td>{{ j }}</td>
		  							<td>{{ journals[country][j]["publication"] }} publications</td>
		  						</tr>
								{% endfor %}	  						
	  					</table>
	  				</div>
	  			</li>
  			{% endfor %}
  		</ul>
  	</div>
  	<!-- Exportar Data -->
  	<form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
  		<input id="export-input" type="hidden" name="vistype" value="{{ filters.vistype }}">
  		<input id="export-input" type="hidden" name="journals" value="{{ journals }}">
  		<input id="export-input" type="hidden" name="data" value="{{ data }}">
  		<button class="btn deep-purple right waves-effect waves-light">Export</button>
  	</form>
  	<br><br>
  </div>
{% endblock %}

{% block modals %}
	<!-- Modal Info Structure -->
	<div id="modal-info" class="modal bottom-sheet">
	  <div class="modal-content">
	    <h4>Documents distribution by affiliation countries</h4>
			<p>The visualization shows the number of documents (the sum) published in countries collections/journals according to the filters selected.</p>
			<p><i>Example:</i></p>
			<p>The amount of documents writen in english in the spanish collection in period 2007-2016 is: 7707</p>
      <img src="/static/img/documents.png" width="50%">
			<p>The color of the countries represents the amount of documents according to the color scale displayed below the map. </p>
			<p>When the mouse is hovering over the country, a detailed information is showed.</p>
			<p>The same information (and other aditional) is also showed in a table below the map.</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	  </div>
	</div>
{% endblock %}

{% block js_footer %}
	{% include "v1/partials/filters.js" %}
	{% include "v1/partials/current_filters.js" %}
	<script type="text/javascript">
    $('.modal-trigger').leanModal();	
		publications = {{ data|tojson }};
		collection = {{ collection|tojson }};		
		map = world_map(0, publications);
		publication(map, publications,collection);
		console.log(publications)
	</script>
{% endblock %}