{% extends "v1/layouts/layout.html" %}


{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Coauthorship Network
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
	{% include "v1/partials/current_filters.html" %}
{% endblock%}



{% block visualization_block %}
	<div class="container">
		<ul class="tabs">
      <li class="tab col s4"><a id="map-tab" class="active" href="#map">Map</a></li>
      <li class="tab col s4"><a id="network-tab" href="#network-tabs-container">Network</a></li>
    </ul>

	  <div id="vis-tabs" class="col s12 m12 l6">
      <!-- MAP -->
      <div id="map">
      	<div id="world">
					<div id="world_legend"></div>
	  		</div>
      </div>

      <!-- Networks -->
      <div id="network-tabs-container">
      	<div class="input-field">
          <select id="network-select" >
            <option value="#network-c">Circular</option>
            <option value="#network-s">Force-Directed</option>
          </select>
          <label>Network:</label>
        </div>

        <div id="network-c" class="network-show-hide">
          <input type="hidden" class="d3plus-network-status" value="0">
        	<div id="network-circular" class="d3plus-container"></div>
        </div>

        <div id="network-s" class="network-show-hide">
          <input type="hidden" class="d3plus-network-status" value="0">
        	<div id="network-spring" class="d3plus-container"></div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}



{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Documents distribution by affiliation countries</h4>
      <p>The visualization shows the number of documents (the sum) published in countries collections/journals according to the filters selected.</p>
      <p><i>Example:</i></p>
      <p>The amount of documents writen in english in the spanish collection in period 2007-2016 is: 7707</p>
      <img src="/static/img/documents.png" width="50%">
      <p>The color of the countries represents the amount of documents according to the color scale displayed below the map. </p>
      <p>When the mouse is hovering over the country, a detailed information is showed.</p>
      <p>The same information (and other aditional) is also showed in a table below the map.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}



{% block js_footer %}
	{% include "v1/partials/filters3.js" %}
	{% include "v1/partials/current_filters.js" %}
  <script type="text/javascript">
  	//Renderizamos jsons
    data_network = {{ data_network|tojson }};
    console.log(data_network);

    //MAPA
		coauthor = {{ data_map|tojson }};
		var map = world_map(3, []);
		created_networks = false;
		coauthor_network(map, coauthor);

    //$("#network-tab").on('click', function(){
    //	show_network(container_id);
    //});
    $("#network-select").on('change', function(){
    	show_network($(this).val());
    });
    function show_network(container_id){
      $(".network-show-hide").hide();
      $(container_id).show();
      //Generamos mapa si es necesario
      if( $( container_id+" .d3plus-network-status" ).val() == 0 ){
        if( container_id == "#network-c"){
    			network("#network-circular", data_network["data"], data_network["connections"], data_network["circular_layout"]);
        }
        if( container_id == "#network-s"){
    			network("#network-spring", data_network["data"], data_network["connections"], data_network["spring_layout"]);
        }
        $( container_id+" .d3plus-network-status" ).val(1);
      }
    }
    
    //Network
    function network(container_id, data,connections,positions){
		var visualization = d3plus.viz()
		.container(container_id)  
		.type("network")    
		.data(data)  
		.nodes(positions)   
		.edges(connections) 
		.size("degree")       
		.id("name")         
		.draw()
	}

    //Modal
    $('.modal-trigger').leanModal();
  </script>
{% endblock %}