{% extends "v1/layouts/layout.html" %}


{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Relationship Collection - Author's Affiliation
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
	{% include "v1/partials/current_filters.html" %}
{% endblock%}



{% block visualization_block %}
	<div class="container">    
	  <div class="col s12 m12 l6">
      <!-- Rings -->
      <div id="rings">        
          <div id="rings-by-collections" class="d3plus-container"></div>
      </div>
    </div>
  </div>
{% endblock %}



{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Documents distribution by affiliation countries</h4>
      <p>The visualization shows the number of documents (the sum) published in countries collections/journals according to the filters selected.</p>
      <p><i>Example:</i></p>
      <p>The amount of documents writen in english in the spanish collection in period 2007-2016 is: 7707</p>
      <img src="/static/img/documents.png" width="50%">
      <p>The color of the countries represents the amount of documents according to the color scale displayed below the map. </p>
      <p>When the mouse is hovering over the country, a detailed information is showed.</p>
      <p>The same information (and other aditional) is also showed in a table below the map.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}



{% block js_footer %}
	{% include "v1/partials/filters3.js" %}
	{% include "v1/partials/current_filters.js" %}
  <script type="text/javascript">
  	//Renderizamos jsons
    data_ring = {{ data_rings|tojson }};
    console.log(data_ring);
    
    //Rings
    simple_rings("#rings-by-collections", data_ring["edges"])

    //Modal
    $('.modal-trigger').leanModal();
  </script>
{% endblock %}