{% extends "v2/layouts/layout.html" %}


{% block filters %}
  {% include "v2/partials/filters.html" %}
{% endblock %}


{% block advanced_filters %}
  {% include "v2/partials/document-filters.html" %}
{% endblock %}


{% block visualization_block %}
  <div id="options-panel" class="left">
    {% include "v2/partials/scope-1-export-options.html" %}
    {% include "v2/partials/social_networks.html" %}        
  </div>
  <div class="right">
    {% include "v2/partials/selected-filters-and-animate-btn.html" %}
  </div>
  <br>
  <div class="right">
    <a id="info-trigger">
      <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1.3em"></i>
    </a>
  </div>
  <br>
   
  <div id="visualization-area"> 
    <!-- MAP -->
    <div id="map-container" style="display: none;">        
      <div id="map-info" class="card-panel deep-purple lighten-5 info-container">
        {{ gettext("Country color represents <b class='scope-tabulation'></b>. Mouse over a country additional information is shown. Mouse over a country display number of documents.") }}
      </div>
      <div id="world-map" class="d3plus-container"></div>
    </div>

    
    <!-- TREEMAPs -->
    <div id="treemap-container" style="display: none;">
      <div id="treemap-info" class="card-panel deep-purple lighten-5 info-container">
        {{ gettext("Treemap distributes <b class='scope-tabulation'></b>. Click on a treemap box to filter the data of the country per year of publication.") }}
      </div>
      <div id="treemap-by" class="treemap"></div>
    </div>

    <!-- LINECHART -->
    <div id="linechart-container" style="display: none;">
      <div id="linechart-info" class="card-panel deep-purple lighten-5 info-container">
        {{ gettext("Linechart represents <b class='scope-tabulation'></b> in each year. Click on a line to filter the data.") }}
      </div>
      <div id="linechart-by" class="d3plus-container"></div>
    </div>
  </div>


  <!-- TABLEs -->
  <div id="table-container" style="display: none;">
    <table id="visualization-table" class="table">
      <thead>
        <tr>
          <th rowspan="2">{{ gettext("Collection") }}</th>
          <th rowspan="2">{{ gettext("Year") }}</th>
          <th rowspan="2">{{ gettext("#Documents") }}</th>
          <th colspan="5"  style="border-left: solid 1px black;">{{ gettext("Documents by Language") }}</th>
          <th colspan="10" style="border-left: solid 1px black;">{{ gettext("Documents by Thematic Area") }}</th>
          <th colspan="11" style="border-left: solid 1px black;">{{ gettext("Citable Documents Type") }}</th>
        </tr>
        <tr>
          <th style="border-left: solid 1px black;">{{ gettext("English") }}</th>
          <th>{{ gettext("Spanish") }}</th>
          <th>{{ gettext("Portuguese") }}</th>
          <th>{{ gettext("Other") }}</th>
          <th>{{ gettext("Total") }}</th>
          <th style="border-left: solid 1px black;">{{ gettext("Health Sciences") }}</th>
          <th>{{ gettext("Human Sciences") }}</th>
          <th>{{ gettext("Biological Sciences") }}</th>
          <th>{{ gettext("Agricultural Sciences") }}</th>
          <th>{{ gettext("Applied Social Sciences") }}</th>
          <th>{{ gettext("Exact and Earth Sciences") }}</th>
          <th>{{ gettext("Engineering") }}</th>
          <th>{{ gettext("Linguistics, Letters and Arts") }}</th>
          <th>{{ gettext("Undefined") }}</th>
          <th>{{ gettext("Total") }}</th>
          <th style="border-left: solid 1px black;">{{ gettext("Research Article") }}</th>
          <th>{{ gettext("Editorial") }}</th>
          <th>{{ gettext("Book Review") }}</th>
          <th>{{ gettext("Case Report") }}</th>
          <th>{{ gettext("Review Article") }}</th>
          <th>{{ gettext("Rapid Communication") }}</th>
          <th>{{ gettext("Letter") }}</th>
          <th>{{ gettext("Brief Report") }}</th>
          <th>{{ gettext("Article Commentary") }}</th>
          <th>{{ gettext("Abstract") }}</th>
          <th>{{ gettext("Total") }}</th>
        </tr>
      </thead>
       <tbody>
        {% for i in data_table["by_year"] %}
          {% for k, v in data_table["by_year"][i].items() %}
            <tr>
              <td>{{ i }}</td>
              <td>{{ k }}</td>
              <td>{{ v['documents'] }}</td>

              <td style="border-left: solid 1px black;">{{ v['by_language']['en'] }}</td>
              <td>{{ v['by_language']['es'] }}</td>
              <td>{{ v['by_language']['pt'] }}</td>
              <td>{{ v['by_language']['other'] }}</td>
              <td>{{ v['by_language']['total'] }}</td>

              <td style="border-left: solid 1px black;">{{ v['by_thematic_area']["Health Sciences"] }}</td>
              <td>{{ v['by_thematic_area']["Human Sciences"] }}</td>
              <td>{{ v['by_thematic_area']["Biological Sciences"] }}</td>
              <td>{{ v['by_thematic_area']["Agricultural Sciences"] }}</td>
              <td>{{ v['by_thematic_area']["Applied Social Sciences"] }}</td>
              <td>{{ v['by_thematic_area']["Exact and Earth Sciences"] }}</td>
              <td>{{ v['by_thematic_area']["Engineering"] }}</td>
              <td>{{ v['by_thematic_area']["Linguistics, Letters and Arts"] }}</td>
              <td>{{ v['by_thematic_area']["undefined"] }}</td>
              <td>{{ v['by_thematic_area']["total"] }}</td>

              <td style="border-left: solid 1px black;">{{ v['by_citable_doc']["research-article"] }}</td>
              <td>{{ v['by_citable_doc']["editorial"] }}</td>
              <td>{{ v['by_citable_doc']["book-review"] }}</td>
              <td>{{ v['by_citable_doc']["case-report"] }}</td>
              <td>{{ v['by_citable_doc']["review-article"] }}</td>
              <td>{{ v['by_citable_doc']["rapid-communication"] }}</td>
              <td>{{ v['by_citable_doc']["letter"] }}</td>
              <td>{{ v['by_citable_doc']["brief-report"] }}</td>
              <td>{{ v['by_citable_doc']["article-commentary"] }}</td>
              <td>{{ v['by_citable_doc']["abstract"] }}</td>
              <td>{{ v['by_citable_doc']["total"] }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{% block js_footer %}
  {% include "v2/partials/filters-3.js" %}
  <script type="text/javascript">  
    //Renderizamos jsons
    data_treemap = {{ data_treemap|tojson }};
    data_map = {{ data_map|tojson }};
    visualization = "{{ filters.visualization|safe }}"; 

    var generated_map = false;
    var generated_treemap = false;
    var generated_linechart = false;
  

    //Rellenar scope y tabulacion
    //LANG desde filters-3.js
    $('.scope-tabulation').html("["+stFilters["{{filters.scope}}"]["text"][LANG]+" "+stFilters["{{filters.scope}}"]["tabulations"]["{{filters.tabulation}}"]["text"][LANG]+"]");

    change_visualization(visualization);


    function map(timeline){
      $("#world-map").html("");
      d3plus_map = d3plus.viz()
                         .container("#world-map") 
                         .data(data_map["by_year"]) 
                         .coords({"projection": "equirectangular", "value": "/static/js/d3plus/countries.json", "mute":["anata"]}) 
                         .type("geo_map") 
                         .id("group-country-code") 
                         .text("group-country-demonym") 
                         .color("documents");
      if(timeline){
        d3plus_map.time({'value': 'year', 'solo': [{{ filters.from_year|safe }}, {{ filters.from_year|safe }}] });
      }
      d3plus_map.draw();
    }
    function treemap(timeline){
      $("#treemap-by").html("");
      d3plus_treemap = d3plus.viz()
                              .container("#treemap-by")
                              .data(data_treemap["by_year"])
                              .type("tree_map")
                              .id(["group-country-demonym", "sub-group"])
                              .size("documents")
                              .labels({"align": "left", "valign": "top"});
      if(timeline){
        d3plus_treemap.time({'value': 'sub-group', 'solo': [{{ filters.from_year|safe }}, {{ filters.from_year|safe }}] });
      }
      d3plus_treemap.draw();
    }
    function linechart(timeline){
      $("#linechart-by").html("");
      d3plus_linechart = d3plus.viz()
                               .container("#linechart-by")
                               .data(data_treemap["by_year"])
                               .type("line")
                               .id("group")
                               .text("group-country-demonym")
                               .y("documents")
                               .x("sub-group")
                               .y({"grid": false})
                               .x({"grid": false, "label": "Years"})
                               .axes({"background": {"color": "#FFF"}});
      //d3plus_linechart.time({'value': 'sub-group', 'solo': [{{ filters.from_year|safe }}, {{ filters.from_year|safe }} + {{ filters.timeline_range }} -1],  })
      d3plus_linechart.draw();
    }
    function change_visualization(option, timeline){
      flag = 0
      $("#map-container").hide();
      $("#treemap-container").hide();
      $("#linechart-container").hide();
      $("#table-container").hide();
      $("#timeline-info").hide();
      $("#timeline-btn-1").hide();
      $("#timeline-btn-2").hide();
      $("#animate-btn").hide();
      $("#info-trigger").hide();
      $("#info-trigger").mouseover('');
      $("#info-trigger").mouseout('');
      /*Map
      ----------------------------------------------------------*/
      if(option == "map"){
        $("#map-container").show();
        $("#animate-btn").show();
        $("#info-trigger").mouseover( function(){$('#map-info').show()})
                          .mouseout(function(){$('#map-info').hide()})
                          .show();
        //if(!generated_map){
          map(timeline);
          generated_map = true;
        //}
      }

      /*Treemaps
      ----------------------------------------------------------*/
      if(option == "treemap"){
        $("#treemap-container").show();
        $("#animate-btn").show();
        $("#info-trigger").mouseover( function(){$('#treemap-info').show()})
                          .mouseout(function(){$('#treemap-info').hide()})
                          .show();
        //if(!generated_treemap){
          treemap(timeline);
          generated_treemap = true;
        //}
      }

      /*Lineachart
      ----------------------------------------------------------*/
      if(option == "linechart"){
        $("#linechart-container").show();
        $("#info-trigger").mouseover( function(){$('#linechart-info').show()})
                          .mouseout(function(){$('#linechart-info').hide()})
                          .show();
        if(!generated_linechart){
          linechart(timeline);
          generated_treemap = true;
        }
      }

      /*Table
      ----------------------------------------------------------*/
      if(option == "table"){
        $("#table-container").show();
      }

    }

    //DataTables
    $('#visualization-table').DataTable({
      scrollY:        "400px",
      scrollX:        true,
      scrollCollapse: true,
      paging:         false,
      fixedColumns:   {
          leftColumns: 3
      }
    });
    //Modal
    $('.modal-trigger').leanModal();
    //Dropdown
    $('.dropdown-button').dropdown();
  </script>
{% endblock %}