{% extends "layouts/layout4_index.html" %}

{% block filters %}
  {% include "v1/partials/filters4.html" %}
{% endblock %}

{% block visualization_block %}
	<div class="visualizations-area">
    <!-- MAPS -->
    <div id="maps-container">
      <div id="world-map1" class="d3plus-container"></div>
    </div>
    <!-- TREEMAPS -->
    <div id="treemaps-container"></div>
    <!-- TABLES -->
    <div id="tables-container"></div>
  </div>
{% endblock %}

{% block js_footer %}
  {% include "v1/partials/filters4.js" %}
  <script type="text/javascript">
    data = {{ data|tojson }}
    //Dibujamos Mapa Default
    d3plus_map = d3plus_geomap("#world-map1", data, "country-code", "country-name", "documents", ["documents", "journals"]);
    d3plus_map.ui([ 
                    { 
                      "method" : "color",
                      "value"  : [ "documents" , "journals" ]
                    },
              ])
              .draw()
  </script>
{% endblock %}