{% extends "v1/layouts/layout2.html" %}

{% block filters %}
  {% include "v1/partials/filters2.html" %}
{% endblock %}

{% block visualization_block %}
  <div class="visualization-block">
    <!-- Area Dibujo -->
    <div class="row">
      <!-- Area de descripción -->
      <div class="col s4 m3 l3">
        <div class="scope-and-description">
          <div class="container">
            <h5>Working Data</h5>
            <p>
              <b>Scope:</b><br>
              Document
            </p>
            <div class="divider"></div><br>
            <p>
              <b>Tabulation:</b><br>
              By Country of Publication Document
            </p>
            <div class="divider"></div><br>
            <a onclick="test_visualization()">2° vis</a>               
          </div>                  
        </div>
      </div>
      <!-- Area de dibujo -->
      <div class="col s8 m9 l9">
        <div class="visualizations-area">
          <!-- MAPS -->
          <div id="maps-container">
            <div id="world-map1" class="d3plus-container"></div>
          </div>
          <!-- TREEMAPS -->
          <div id="treemaps-container"></div>
          <!-- TABLES -->
          <div id="tables-container"></div>
        </div>
      </div>
    </div>            
  </div>
  <div class="divider"></div>

  <div id="vis2" class="visualization-block" style="display: none;">
    <!-- Area Dibujo -->
    <div class="row">
      <!-- Area de descripción -->
      <div class="col s4 m3 l3">
        <div class="scope-and-description">
          <div class="container">
            <h5>Working Data</h5>
            <p>
              <b>Scope:</b><br>
              Document
            </p>
            <div class="divider"></div><br>
            <p>
              <b>Tabulation:</b><br>
              By Country of Publication Document
            </p>
            <div class="divider"></div><br>
            <h5>Visualization Filters</h5>
            <p>
              <b>Options Selected:</b><br>
              Option1<br>
              Option2
            </p>
            <div class="divider"></div><br>               
          </div>                  
        </div>
      </div>
      <!-- Area de dibujo -->
      <div class="col s8 m9 l9">
        <div class="visualizations-area">
          <!-- MAPS -->
          <div id="maps-container">
            <div id="world-map2" class="d3plus-container"></div>
          </div>
          <!-- TREEMAPS -->
          <div id="treemaps-container"></div>
          <!-- TABLES -->
          <div id="tables-container"></div>
        </div>
      </div>
    </div>            
  </div>
  <div class="divider"></div>
{% endblock %}

{% block js_footer %}
  {% include "v1/partials/filters3.js" %}
  <script type="text/javascript">
    data = {{ data|tojson }}
    //Dibujamos Mapa Default
    d3plus_map = d3plus_geomap("#world-map1", data, "country-code", "country-name", "documents", ["documents", "journals"]);
    d3plus_map.ui([ 
                    { 
                      "method" : "color",
                      "value"  : [ "documents" , "journals" ]
                    },
              ])
              .draw()

    generate = true;
    function test_visualization(){
      if(generate){
        generate = false;
        $("#vis2").show();
        $("html, body").animate({scrollTop: $('#vis2').offset().top }, 500);
        d3plus_map = d3plus_geomap("#world-map2", data, "country-code", "country-name", "documents", ["documents", "journals"]);
        d3plus_map.ui([ 
                        { 
                          "method" : "color",
                          "value"  : [ "documents" , "journals" ]
                        },
                  ])
                  .draw();
      }
    }
  </script>
{% endblock %}