{% extends "v1/layouts/layout.html" %}

{% block filters %}
  {% include "v1/partials/filters2.html" %}
{% endblock %}

{% block visualization_block %}
  <div class="container">
    <div id="world-map" class="d3plus-container"></div>
  </div>
{% endblock %}

{% block js_footer %}
  {% include "v1/partials/filters3.js" %}
  <script type="text/javascript">
    data = {{ data|tojson }}
    //Dibujamos Mapa Default
    d3plus_map = d3plus_geomap("#world-map", data, "country-code", "country-name", "documents", ["documents", "journals"]);
    d3plus_map.ui([ 
                    { 
                      "method" : "color",
                      "value"  : [ "documents" , "journals" ]
                    },
              ])
              .draw()
  </script>
{% endblock %}