{% extends "v1/layouts/layout.html" %}

{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}

{% block visualization_block %}
  <div id="d3-container" class="container">
  	<div class="col s12 m12 l12">
  		<div id="world"></div>
  	</div>
  </div>
{% endblock %}

{% block js_footer %}
	{% include "v1/partials/filters2.js" %}
	<script type="text/javascript">
		data = {{ data|tojson }}
		var map = world_map(4, data);
	</script>
{% endblock %}