{% extends "v1/layouts/layout.html" %}

{% block filters %}
	{% include "v1/partials/filters.html" %}
{% endblock %}

{% block visualization_block %}
  <div class="container">
  	<div class="col s12 m12 l6">
  		<div id="world"></div>
  	</div>
  </div>
{% endblock %}

{% block js_footer %}
	{% include "v1/partials/filters.js" %}
	<script type="text/javascript">
		data = {{ data|tojson }}
		var map = world_map(4, data);		
	</script>		
{% endblock %}