<!DOCTYPE html>
  <html>
    <head>
    	<title>Analytics - SciELO</title>
      <!-- Favicon -->
      <link rel="icon" href="{{ url_for('static', filename='v1/img/favicon.ico') }}" type="image/x-icon" />
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='v1/css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='v1/css/bibliometrics.v1.css') }}">
      <!--Import selectize.css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='v1/css/selectize.css') }}">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


      <!-- JQuery -->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/plugins/jquery-ui-1.12.0.custom/jquery-ui.min.js') }}"></script>
      <!-- Materialize -->
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/materialize.min.js') }}"></script>
      <!-- DataTables -->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='v1/plugins/DataTables-1.10.12/media/css/jquery.dataTables.min.css') }}">
      <script src="{{ url_for('static', filename='v1/plugins/DataTables-1.10.12/media/js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/selectize.js') }}"></script>
      <!-- D3 -->
      <script src="{{ url_for('static', filename='v1/js/d3plus/js/d3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='v1/js/d3plus/js/d3plus.min.js') }}"></script>
      <!-- NV -->
      <script src="{{ url_for('static', filename='v1/js/nvd3/build/nv.d3.min.js') }}"></script>
      <!--<script src="{{ url_for('static', filename='v1/js/nvd3/src/utils.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/tooltip.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/interactiveLayer.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/models/axis.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/models/legend.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/models/scatter.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/models/stackedArea.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/models/stackedAreaChart.js')}}"></script>
      <script src="{{ url_for('static', filename='v1/js/nvd3/src/models/multiBarHorizontalChart.js')}}"></script>-->

      <!-- MAPS -->
      <script src="{{ url_for('static', filename='v1/js/d3plus/js/topojson.min.js') }}"></script>
      <script src="{{ url_for('static', filename='v1/js/datamaps.all.js') }}"></script>
      <!-- NETWORKS -->
      <script src="{{ url_for('static', filename='v1/js/jsnetworkx.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/sigma.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.parsers.json.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.renderers.customShapes.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.plugins.animate.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.plugins.dragNodes.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.plugins.filter.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.plugins.neighborhoods.min.js') }}"></script>
      <script src="{{ url_for('static',filename='v1/js/plugins/sigma.renderers.customEdgeShapes.min.js') }}"></script>


      <script src="{{ url_for('static', filename='v1/js/stacked.js')}}"></script>
    </head>
    <body>
      <!-- HEADER -->
      <header class="deep-purple">
        <div class="row">
          <div class="col s3 m2 l1">
            <img id="header-logo" src="{{ url_for('static', filename='v1/img/scielo-logo.png') }}">  
          </div>
          <div class="col s9 m10 l11">
            <div id="header-box" class="white-text">
              <span id="header-title">Analytics</span>
              <a id="filter-btn-panel" class="deep-purple lighten-2 waves-effect waves-light btn right tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Filters">
                <i class="material-icons right">swap_vert</i><span class="hide-on-small-only">Filters</span>
              </a>
            </div>  
          </div>
        </div>
      </header>
      <!-- END HEADER -->

      <!-- FILTERS -->
      {% block filters %}{% endblock %}
      <!-- END FILTERS -->

      <div id="body-container"> 
        <!-- CONTENT -->
        <div id="content-container">
            {% block content %}{% endblock %}
        </div>
        <!-- END CONTENT -->

        <!-- D3 MAPA -->
        <div id="visualizations-container">
          {% block visualization_block %}{% endblock %}
        </div>
        <!-- END D3 MAPA -->

        <!-- D3 MAPA -->
        <div id="results-container">
          {% block results %}{% endblock %}
        </div>
        <!-- END D3 MAPA -->
      </div>

      <!-- Modals -->
      <div id="modals-container">
        {% block modals %}{% endblock %}
      </div>
      
      <br>
      <div id="pre-footer" class="deep-purple lighten-2"></div>
      <footer class="deep-purple darken-3">
        <div class="row container">
          <center>
            <a href="http://www.net-works.cl" target="_blank"><img src="{{ url_for('static', filename='v1/img/mini_logo.png') }}" width="60"></a>
            <p id="copy-text">Copyright © 2016. All rights reserved.</p>
          </center>
        </div>
      </footer>
   
      <!-- Filtros -->
      <script type="text/javascript" src="{{ url_for('static', filename='v1/jsons/scopeAndTabulations.v1.json') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/jsons/filters.v1.json') }}"></script>
      <!-- Funciones Graficar -->
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.datamaps.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.maps.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.treemaps.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.linecharts.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.sunbursts.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.rings.js') }}"></script>
      

      <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
        // FLASH
        {% with notice = get_flashed_messages(category_filter=["notice"]) %}
          {% if notice %}
            {%- for msg in notice %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'green') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
        {% with error = get_flashed_messages(category_filter=["error"]) %}
          {% if error %}
            {%- for msg in error %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'red') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
        {% with warning = get_flashed_messages(category_filter=["warning"]) %}
          {% if warning %}
            {%- for msg in warning %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'yellow') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
      </script>

      <!-- JS Especificos vistas -->
      {% block js_footer %}{% endblock %}
    
    </body>
  </html>