<!DOCTYPE html>
  <html>
    <head>
      <title>Analytics - SciELO</title>
      <!-- Favicon -->
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bibliometrics4.css') }}">
      <!--Import selectize.css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.css') }}">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


      <!-- JQuery -->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery-ui-1.12.0.custom/jquery-ui.min.js') }}"></script>
      <!-- Materialize -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
      <!-- DataTables -->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/DataTables-1.10.12/media/css/jquery.dataTables.min.css') }}">
      <script src="{{ url_for('static', filename='plugins/DataTables-1.10.12/media/js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/selectize.js') }}"></script>
      <!-- D3 -->
      <script src="{{ url_for('static', filename='js/d3plus/js/d3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/d3plus/js/d3plus.min.js') }}"></script>
      <!-- NV -->
      <script src="{{ url_for('static', filename='js/nvd3/build/nv.d3.min.js') }}"></script>

      <!-- MAPS -->
      <script src="{{ url_for('static', filename='js/d3plus/js/topojson.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/datamaps.all.js') }}"></script>
      <!-- NETWORKS -->
      <script src="{{ url_for('static', filename='js/jsnetworkx.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.parsers.json.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.layout.forceAtlas2.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.renderers.customShapes.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.plugins.animate.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.plugins.dragNodes.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.plugins.filter.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.plugins.neighborhoods.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/sigma/sigma.renderers.customEdgeShapes.min.js') }}"></script>

      <script src="{{ url_for('static', filename='js/stacked.js')}}"></script>
    </head>

    <body>
      <div id="header-block">
        <!-- HEADER -->
        <header class="deep-purple">
          <div class="row">
            <div class="col s3 m2 l1">
              <img id="header-logo" src="{{ url_for('static', filename='img/scielo-logo.png') }}">  
            </div>
            <div class="col s9 m10 l11">
              <div id="header-box" class="white-text">
                <h4>Analytics <i style="font-size: 0.5em;"> Visualizations</i></h4>
              </div>  
            </div>
          </div>
        </header>
        <!-- END HEADER -->
        <!-- FILTERS -->
        {% block filters %}{% endblock %}
        <!-- END FILTERS -->
      </div>
      <!-- END HEADER BLOCK -->


      <div id="body-container"> 
        <!-- CONTENT -->
        <div id="content-container">
          <div class="visualization-block">
            <!-- Area Dibujo -->
            <div class="row">
              <div class="col s12 m12 l12">
          		{% block visualization_block %}{% endblock %}
            </div>            
          </div>
        </div>
        <!-- END CONTENT -->
      </div>

      <!-- Modals -->
      <div id="modals-container">
        {% block modals %}{% endblock %}
      </div>
      
      <br>
      <div id="pre-footer" class="deep-purple lighten-2"></div>
      <footer class="deep-purple darken-3">
        <div class="row container">
          <center>
            <a href="http://www.net-works.cl" target="_blank"><img src="{{ url_for('static', filename='img/mini_logo.png') }}" width="60"></a>
            <p id="copy-text">Copyright © 2016. All rights reserved.</p>
          </center>
        </div>
      </footer>
   
      <!-- Filtros -->
      <script type="text/javascript" src="{{ url_for('static', filename='jsons/scopeAndTabulations.v2.json') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='jsons/filters.v2.json') }}"></script>
      <!-- Funciones Graficar -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/bibliometrics.datamaps.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bibliometrics.maps.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bibliometrics.treemaps.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bibliometrics.linecharts.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bibliometrics.sunbursts.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bibliometrics.rings.js') }}"></script>
      

      <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
        // FLASH
        {% with notice = get_flashed_messages(category_filter=["notice"]) %}
          {% if notice %}
            {%- for msg in notice %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'green') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
        {% with error = get_flashed_messages(category_filter=["error"]) %}
          {% if error %}
            {%- for msg in error %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'red') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
        {% with warning = get_flashed_messages(category_filter=["warning"]) %}
          {% if warning %}
            {%- for msg in warning %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'yellow') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
      </script>

      <!-- JS Especificos vistas -->
      {% block js_footer %}{% endblock %}
    
    </body>
  </html>