<div id="current-visualization-details" style="display: none;">
  {% set disabled_refresh = true %}
  <!-- COLLECTION -->
  <ul class="collection-3">
    <b>{{ gettext("Collection") }}</b>
    {% if filters.collections|count > 0 %}
      {% set disabled_refresh = false %}
      <li class="collection-item-3">
        {% for c in filters.collections %}
          {% if filters.collections.index(c) > 0 %}
            <b class="operation-text">{{ gettext(filters.collections_operation) }}</b>
          {% endif %}
          {{ c[1].decode('utf-8') }}
        {% endfor %}
      </li>
    {% else %}
      <li class="collection-item-3">
        {{ gettext('All') }}
      </li>
    {% endif %}
  </ul>
  <!-- JOURNAL STATUS -->
  <ul class="collection-3">
    <b><span>{{ gettext("Journal Status") }}</span></b>
    <li class="collection-item-3">
      {{ gettext("All") if filters.journals_status == 'ALL' }}
      {{ gettext("Current") if filters.journals_status == 'current' }}
      {{ gettext("Suspended") if filters.journals_status == 'suspended' }}
      {{ gettext("Deceased") if filters.journals_status == 'deceased' }}
      {{ gettext("In Progress") if filters.journals_status == 'inprogress' }}
    </li>
  </ul>
  <!-- JOURNAL -->
  <ul class="collection-3">
    <b><span>{{ gettext("Journal") }}</span></b>
    {% if filters.journals|count > 0 %}
      {% set disabled_refresh = false %}
      <li class="collection-item-3">
        {% for j in filters.journals %}
          {% if filters.journals.index(j)  > 0 %}
            <b class="operation-text">{{ gettext(filters.journals_operation) }}</b>
          {% endif %}
          {{ j }}
        {% endfor %}
      </li>
    {% else %}
      <li class="collection-item-3">
        {{ gettext('All') }}
      </li>
    {% endif %}
  </ul>
  <!-- THEMATIC AREAS-->
  <ul class="collection-3">
    <b><span>{{ gettext("SciELO Thematic Area") }}</span></b>
    {% if filters.thematic_areas|count > 0 %}
      {% set disabled_refresh = false %}
       <li class="collection-item-3">
        {% for ta in filters.thematic_areas %}
          {% if filters.thematic_areas.index(ta) > 0 %}
            <b class="operation-text">{{ gettext(filters.thematic_areas_operation) }}</b>
          {% endif %}
          {{ ta[1].decode('utf-8') }}
        {% endfor %}
      </li>
    {% else %}
      <li class="collection-item-3">
        {{ gettext('All') }}
      </li>
    {% endif %}
  </ul>
  <!-- WOS THEMATIC AREAS-->
  <ul class="collection-3">
    <b><span>{{ gettext("WOS Thematic Area") }}</span></b>
    {% if filters.wos_thematic_areas|count > 0 %}
      {% set disabled_refresh = false %}
      <li class="collection-item-3">
        {% for wta in filters.wos_thematic_areas %}
          {% if filters.wos_thematic_areas.index(wta) > 0 %}
            <b class="operation-text">{{ gettext(filters.wos_thematic_areas_operation) }}</b>
          {% endif %}
          {{ wta[1].decode('utf-8') }}
        {% endfor %}
      </li>
    {% else %}
      <li class="collection-item-3">
        {{ gettext('All') }}
      </li>
    {% endif %}
  </ul> 
  <!-- LANGUAGES-->
  <ul class="collection-3">
    <b><span>{{ gettext("Language") }}</span></b>
    {% if filters.languages|count > 0 %}
      {% set disabled_refresh = false %}
      <li class="collection-item-3">
        {% for l in filters.languages %}
          {% if filters.languages.index(l) > 0 %}
            <b class="operation-text">{{ gettext(filters.languages_operation) }}</b>
          {% endif %}
          {{ l[1].decode('utf-8') }}
        {% endfor %}
      </li>
    {% else %}
      <li class="collection-item-3">
        {{ gettext('All') }}
      </li>
    {% endif %}
  </ul>
  <!-- DOCUMENT TYPE -->
  <ul class="collection-3">
    <b><span>{{ gettext("Document") }}</span></b>
    <br><small>{{ gettext("Type") }}: </small><br>
    {% if filters.document_type_details|count > 0 %}
      {% set disabled_refresh = false %}
      <li class="collection-item-3">
        {% for dtd in filters.document_type_details %}
          {% if filters.document_type_details > 0 %}
            <b class="operation-text">{{ gettext(filters.document_type_details_operation) }}</b>
          {% endif %}
          {{ dtd[1].decode('utf-8') }}
        {% endfor %}
      </li>
    {% else %}
      <li class="collection-item-3">
        {{ gettext('All') }}
      </li>
    {% endif %}
  </ul>
  <!-- YEAR -->
  <ul class="collection-3">
    <b><span>{{ gettext("Year Range") }}</span></b>
    <li class="collection-item-3">
      {{ filters.from_year }} - {{ filters.to_year }}
    </li>
  </ul>
</div>



<!-- Boton formulario de abajo -->
<div id="menu-buttons-filters">
  <button id="advanced-filters-form-submit-btn" type="submit" form="advanced-filters-form" class="btn btn-mf btn-mf-filter deep-purple waves-effect waves-light disabled" disabled="true" onclick="save_to_history('#advanced-filters-form')" disabled>Filter</button>
  {% if disabled_refresh %}
    <button type="button" id="refresh-filters-btn" class="btn btn-mf btn-mf-option deep-purple waves-effect waves-light disabled" onclick="reset_filters()" disabled="disabled" title="{{ gettext('Reset filters') }}"><i class="fa fa-refresh" aria-hidden="true"></i></button>
  {% else %}
    <button type="button" id="refresh-filters-btn" class="btn btn-mf btn-mf-option deep-purple waves-effect waves-light" onclick="reset_filters()" title="{{ gettext('Reset filters') }}"><i class="fa fa-refresh" aria-hidden="true"></i></button>
  {% endif %}
  <button type="button" id="advanced-filters-save-btn" class="btn btn-mf btn-mf-option deep-purple waves-effect waves-light" onclick="save_to_user_history('#advanced-filters-form-aux')" title="{{ gettext('Save Visualization') }}"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <a href="#save-and-go-user-history-modal" id="advanced-filters-save-and-history-btn" class="modal-trigger btn btn-mf btn-mf-option deep-purple waves-effect waves-light" title="{{ gettext('History') }}"><i class="fa fa-history" aria-hidden="true"></i></a>
  <button type="button" id="advanced-filters-back-btn" class="btn btn-mf btn-mf-option deep-purple waves-effect waves-light disabled" disabled="disabled" onclick="back_to_historiy_saved();" title="{{ gettext('Previous Visualization') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  <!-- BTN AUX -->
  <button type="button" id="advanced-filters-reactivate-display-btn" class="btn btn-mf btn-mf-option deep-purple waves-effect waves-light" onclick="reactivate_display();" title="{{ gettext('Active screen') }}" style="display: none;"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  <!-- FIN BTN AUX -->
  <button type="button" id="advanced-filters-forward-btn" class="btn btn-mf btn-mf-option deep-purple waves-effect waves-light disabled" disabled="disabled" onclick="forward_to_history_saved();" title="{{ gettext('Next Visualization') }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
</div>
<!-- FIN Boton formulario de abajo -->



<form id="advanced-filters-form-aux" method="post">
  <input type="hidden" id="advanced-filters-form-uhid-aux" name="uhid">
  <input type="hidden" id="advanced-filters-form-lang-aux" name="lang" value="{{ session['lang'] }}">
  <input type="hidden" id="advanced-filters-form-url-aux" name="url" value="">
  <input type="hidden" name="scope" value="{{ filters.scope }}">
  <input type="hidden" name="tabulation" value="{{ filters.tabulation }}">
  <input type="hidden" id="visualization-hidden-aux" name="visualization" value="{{ filters.visualization }}">

  <!-- COLLECTIONS -->
  <ul id="collection-to-filter" class="collection-2">
    <b class="collection-2-title">
      <a href='#af-collection-modal' class='modal-trigger right' onclick="hash_check_reset('collection')"><i class="fa fa-cog right"></i></a>
      <span id="collection-total-r-badges" class="badge2 right total-badges red" data-badge-caption='{{ gettext('removed') }}' style="display: none;"></span>
      <span id="collection-total-s-badges" class="badge2 right total-badges green" data-badge-caption='{{ gettext('selected') }}' style="display: none;"></span>
      <span class="span-chevron">{{ gettext("Collection") }}</span>
    </b>
    {% if filters.collections|count > 0 %}
      {% for c in filters.collections %}
        <li data-liid="{{ c[0] }}" class="collection-item-2 special-remove">
          <input type="hidden" name="collection[]" value="{{ c[0] }}">
          {% if filters.collections.index(c) > 0 %}
            <b class="operation-text">{{ gettext(filters.collections_operation) }}</b>
          {% endif %}
          {{ c[1].decode('utf-8') }}
          <a class="x-filter right" onclick="current_filter_uncheck('collection[]', '{{ c[0] }}');">x</a>
        </li>
      {% endfor %}
    {% else %}
      <li data-liid="collection-all" class="collection-item-2">
        {{ gettext('All') }}
      </li>
    {% endif %}
    <div id="collection-expand-btn" class="collection-2-expand-btn" onclick="toggle_filter_container('.cc-chevron', '#collection-to-filter', '50px');" style="{{ 'display: none;' if (filters.collections|count < 1) else ''}}">
      <center>
        <i class="cc-chevron fa fa-chevron-up" style="display: none"></i>
        <i class="cc-chevron fa fa-chevron-down"></i>
      </center>
    </div>
  </ul>
  <!-- STATUS JOURNALS -->
  <input type="hidden" name="journal-status" value="{{ filters.journals_status }}">
  <ul id="journal-status-to-filter" class="collection-2 special-height special-overflow">
    <b class="collection-2-title">
      <span class="span-chevron">{{ gettext("Journal Status") }}</span>
    </b>
    <select id="journal-status" name="journal-status" form="advanced-filters-form">
      <option value="ALL" {{ 'selected' if filters.journals_status == 'ALL' }}>{{ gettext("All") }}</option>
      <option value="current" {{ 'selected' if filters.journals_status == 'current' }}>{{ gettext("Current") }}</option>
      <option value="suspended" {{ 'selected' if filters.journals_status == 'suspended' }}>{{ gettext("Suspended") }}</option>
      <option value="deceased" {{ 'selected' if filters.journals_status == 'deceased' }}>{{ gettext("Deceased") }}</option>
      <option value="inprogress" {{ 'selected' if filters.journals_status == 'inprogress' }}>{{ gettext("In Progress") }}</option>
    </select>
  </ul>
  <!-- JOURNALS -->
  <ul id="journal-to-filter" class="collection-2">
    <b class="collection-2-title">
      <a href='#af-journal-modal' class='modal-trigger right' onclick="hash_check_reset('journal')"><i class="fa fa-cog right"></i></a>
      <span id="journal-total-r-badges" class="badge2 right total-badges red" data-badge-caption='{{ gettext('remove') }}' style="display: none;"></span>
      <span id="journal-total-s-badges" class="badge2 right total-badges green" data-badge-caption='{{ gettext('selected') }}' style="display: none;"></span>
      <span class="span-chevron">{{ gettext("Journal") }}</span>
    </b>
    {% if filters.journals|count > 0 %}
      {% for j in filters.journals %}
        <li data-liid="{{ j }}" class="collection-item-2 special-remove">
          <input type="hidden" name="journal[]" value="{{ j }}">
          {% if filters.journals.index(j)  > 0 %}
            <b class="operation-text">{{ gettext(filters.journals_operation) }}</b>
          {% endif %}
          {{ j }}
          <a class="x-filter right" onclick="current_filter_uncheck('journal[]', '{{ j }}');">x</a>
        </li>
      {% endfor %}
    {% else %}
      <li data-liid="journal-all" class="collection-item-2">
        {{ gettext('All') }}
      </li>
    {% endif %}
    <div id="journal-expand-btn" class="collection-2-expand-btn" onclick="toggle_filter_container('.jc-chevron', '#journal-to-filter', '50px');" style="{{ 'display: none;' if (filters.journals|count < 1) else ''}}">
      <center>
        <i class="jc-chevron fa fa-chevron-up" style="display: none"></i>
        <i class="jc-chevron fa fa-chevron-down"></i>
      </center>
    </div>
  </ul> 
  <!-- THEMATIC AREAS-->
  <ul id="thematic-area-to-filter" class="collection-2">
    <b class="collection-2-title">
      <a href='#af-thematic-area-modal' class='modal-trigger right' onclick="hash_check_reset('thematic-area')"><i class="fa fa-cog right"></i></a>
      <span id="thematic-area-total-r-badges" class="badge2 right total-badges red" data-badge-caption='{{ gettext('remove') }}' style="display: none;"></span>
      <span id="thematic-area-total-s-badges" class="badge2 right total-badges green" data-badge-caption='{{ gettext('selected') }}' style="display: none;"></span>
      <span class="span-chevron">{{ gettext("SciELO Thematic Area") }}</span>
    </b>
    {% if filters.thematic_areas|count > 0 %}
      {% for ta in filters.thematic_areas %}
        <li data-liid="{{ ta[0] }}" class="collection-item-2 special-remove">
          <input type="hidden" name="thematic_area[]" value="{{ ta[0] }}">
          {% if filters.thematic_areas.index(ta) > 0 %}
            <b class="operation-text">{{ gettext(filters.thematic_areas_operation) }}</b>
          {% endif %}
          {{ ta[1].decode('utf-8') }}
          <a class="x-filter right" onclick="current_filter_uncheck('thematic-area[]', '{{ ta[0] }}');">x</a>
        </li>
      {% endfor %}
    {% else %}
      <li data-liid="thematic-area-all" class="collection-item-2">
        {{ gettext('All') }}
      </li>
    {% endif %}
    <div id="thematic-area-expand-btn" class="collection-2-expand-btn" onclick="toggle_filter_container('.tac-chevron', '#thematic-area-to-filter', '50px');" style="{{ 'display: none;' if (filters.thematic_areas|count < 1) else ''}}">
      <center>
        <i class="tac-chevron fa fa-chevron-up" style="display: none"></i>
        <i class="tac-chevron fa fa-chevron-down"></i>
      </center>
    </div>
  </ul>
  <!-- WOS THEMATIC AREAS-->
  <ul id="wos-thematic-area-to-filter" class="collection-2">
    <b class="collection-2-title">
      <a href='#af-wos-thematic-area-modal' class='modal-trigger right' onclick="hash_check_reset('wos-thematic-area')"><i class="fa fa-cog right"></i></a>
      <span id="wos-thematic-area-total-r-badges" class="badge2 right total-badges red" data-badge-caption='{{ gettext('remove') }}' style="display: none;"></span>
      <span id="wos-thematic-area-total-s-badges" class="badge2 right total-badges green" data-badge-caption='{{ gettext('selected') }}' style="display: none;"></span>
      <span class="span-chevron">{{ gettext("WOS Thematic Area") }}</span>
    </b>
    {% if filters.wos_thematic_areas|count > 0 %}
      {% for wta in filters.wos_thematic_areas %}
        <li data-liid="{{ wta[0] }}" class="collection-item-2 special-remove">
          <input type="hidden" name="wos_thematic_area[]" value="{{ wta[0] }}">
          {% if filters.wos_thematic_areas.index(wta) > 0 %}
            <b class="operation-text">{{ gettext(filters.wos_thematic_areas_operation) }}</b>
          {% endif %}
          {{ wta[1].decode('utf-8') }}
          <a class="x-filter right" onclick="current_filter_uncheck('wos-thematic-area[]', '{{ wta[0] }}');">x</a>
        </li>
      {% endfor %}
    {% else %}
      <li data-liid="wos-thematic-area-all" class="collection-item-2">
        {{ gettext('All') }}
      </li>
    {% endif %}
    <div id="wos-thematic-area-expand-btn" class="collection-2-expand-btn" onclick="toggle_filter_container('.wtac-chevron', '#wos-thematic-area-to-filter', '50px');" style="{{ 'display: none;' if (filters.wos_thematic_areas|count < 1) else ''}}">
      <center>
        <i class="wtac-chevron fa fa-chevron-up" style="display: none"></i>
        <i class="wtac-chevron fa fa-chevron-down"></i>
      </center>
    </li>
  </ul> 
  <!-- LANGUAGES-->
  <ul id="language-to-filter" class="collection-2">
    <b class="collection-2-title">
      <a href='#af-language-modal' class='modal-trigger right' onclick="hash_check_reset('language')"><i class="fa fa-cog right"></i></a>
      <span id="language-total-r-badges" class="badge2 right total-badges red" data-badge-caption='{{ gettext('remove') }}' style="display: none;"></span>
      <span id="language-total-s-badges" class="badge2 right total-badges green" data-badge-caption='{{ gettext('selected') }}' style="display: none;"></span>
      <span class="span-chevron">{{ gettext("Language") }}</span>
    </b>
    {% if filters.languages|count > 0 %}
      {% for l in filters.languages %}
        <li data-liid="{{ l[0] }}" class="collection-item-2 special-remove">
          <input type="hidden" name="language[]" value="{{ l[0] }}">
          {% if filters.languages.index(l) > 0 %}
            <b class="operation-text">{{ gettext(filters.languages_operation) }}</b>
          {% endif %}
          {{ l[1].decode('utf-8') }}
          <a class="x-filter right" onclick="current_filter_uncheck('language[]', '{{ l[0] }}');">x</a>
        </li>
      {% endfor %}
    {% else %}
      <li data-liid="language-all" class="collection-item-2">
        {{ gettext('All') }}
      </li>
    {% endif %}
    <div id="language-expand-btn" class="collection-2-expand-btn" onclick="toggle_filter_container('.lc-chevron', '#language-to-filter', '50px');" style="{{ 'display: none;' if (filters.languages|count < 1) else ''}}">
      <center>
        <i class="lc-chevron fa fa-chevron-up" style="display: none"></i>
        <i class="lc-chevron fa fa-chevron-down"></i>
      </center>
    </div>
  </ul>
  <!-- DOCUMENT TYPE -->
  <ul id="document-type-detail-to-filter" class="collection-2">
    <b class="collection-2-title">
      <a href='#af-document-type-detail-modal' class='modal-trigger right' onclick="hash_check_reset('document-type-detail')"><i class="fa fa-cog right"></i></a>
      <span id="document-type-detail-total-r-badges" class="badge2 right total-badges red" data-badge-caption='{{ gettext('remove') }}' style="display: none;"></span>
      <span id="document-type-detail-total-s-badges" class="badge2 right total-badges green" data-badge-caption='{{ gettext('selected') }}' style="display: none;"></span>
      <span class="span-chevron">{{ gettext("Document") }}</span>
    </b>
    {% if filters.document_type_details|count > 0 %}
      {% for dtd in filters.document_type_details %}
        <li data-liid="{{ dtd[0] }}" class="collection-item-2 special-remove">
          <input type="hidden" name="document_type_details" value="{{ dtd[0] }}">
          {% if filters.document_type_details.index(dtd) > 0 %}
            <b class="operation-text">{{ gettext(filters.document_type_details_operation) }}</b>
          {% endif %}
          {{ dtd[1].decode('utf-8') }}
          <a class="x-filter right" onclick="current_filter_uncheck('document-type-detail[]', '{{ dtd[0] }}');">x</a>
        </li>
      {% endfor %}
    {% else %}
      <li data-liid="document-type-detail-all" class="collection-item-2">
        {{ gettext('All') }}
      </li>
    {% endif %}
    <div id="document-type-detail-expand-btn" class="collection-2-expand-btn" onclick="toggle_filter_container('.dtc-chevron', '#document-type-detail-to-filter', '50px');" style="{{ 'display: none;' if (filters.document_type_details|count < 1) else ''}}">
      <center>
        <i class="dtc-chevron fa fa-chevron-up" style="display: none"></i>
        <i class="dtc-chevron fa fa-chevron-down"></i>
      </centdiv>
    </li>
  </ul>
  <!-- YEARS -->
  <input type="hidden" name="years[from]" value="{{ filters.from_year }}">
  <input type="hidden" name="years[to]" value="{{ filters.to_year }}">
</form>




<!-- FILTERS FORM -->
<form id="advanced-filters-form" method=post>
  <input type="hidden" id="advanced-filters-form-uhid" name="uhid">
  <input type="hidden" id="advanced-filters-form-lang" name="lang" value="{{ session['lang'] }}">
  <input type="hidden" id="advanced-filters-form-url" name="url" value="">
  <input type="hidden" name="scope" value="{{ filters.scope }}">
  <input type="hidden" name="tabulation" value="{{ filters.tabulation }}">
  <input type="hidden" name="visualization" id="visualization-hidden" value="{{ filters.visualization }}">
  
  <!-- YEAR RANGE -->
  <ul id="years-filter" class="collection-2 special-height">
    <div class="input-field" style="width: 45%; float: left;">
      <input id="year-select-from" type="number" min="1909" name="years[from]" value="{{ filters.from_year }}">
      <label>{{ gettext("From") }}</label>
    </div>
    <div class="input-field" style="width: 45%; float: left; margin-left: 10%;">
      <input id="year-select-to" type="number" min="1909" name="years[to]" value="{{ filters.to_year }}">
      <label>{{ gettext("To") }}</label>
    </div>
  </ul>

  <!-- MODALS -->
  <!-- COLLECTIONS MODAL-->
  <div id="af-collection-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Collection") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox"  id="collection-operation" name="collections_operation" value="AND" onclick="operation_change($(this), '#collection-to-filter');" {{ 'checked' if filters.collections_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div id="collection-checkbox-all-container" class="checkbox-all-modal">
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-collection-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="cancel_filters('collection');">{{ gettext("Cancel") }}</a>
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="accept_filters('collection');">{{ gettext("Accept") }}</a>
    </div>
  </div>

  <!-- JOURNALS MODAL-->
  <div id="af-journal-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Journal") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="journal-operation" name="journal-operation" onclick="operation_change($(this), '#journal-to-filter');" value="AND" {{ 'checked' if filters.journals_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div id="journal-checkbox-all-container" class="checkbox-all-modal">
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody  id="af-journal-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="cancel_filters('journal');">{{ gettext("Cancel") }}</a>
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="accept_filters('journal');">{{ gettext("Accept") }}</a>
    </div>
  </div>

  <!-- DOCUMENT TYPE MODAL-->
  <div id="af-document-type-detail-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Document") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="document-type-detail-operation" name="document-type-detail-operation" onclick="operation_change($(this), '#document-type-detail-to-filter');" value="AND" {{ 'checked' if filters.document_type_details_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div id="document-type-detail-checkbox-all-container" class="checkbox-all-modal">
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody  id="af-document-type-detail-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="cancel_filters('document-type-detail');">{{ gettext("Cancel") }}</a>
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="accept_filters('document-type-detail');">{{ gettext("Accept") }}</a>
    </div>
  </div>

  <!-- THEMATIC AREAS MODAL-->
  <div id="af-thematic-area-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("SciELO Thematic Area") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="thematic-area-operation" name="thematic_areas_operation" onclick="operation_change($(this), '#thematic-area-to-filter');" value="AND" {{ 'checked' if filters.thematic_areas_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div id="thematic-area-checkbox-all-container" class="checkbox-all-modal">
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-thematic-area-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="cancel_filters('thematic-area');">{{ gettext("Cancel") }}</a>
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="accept_filters('thematic-area');">{{ gettext("Accept") }}</a>
    </div>
  </div>

  <!-- WOS THEMATIC AREAS MODAL-->
  <div id="af-wos-thematic-area-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("WOS Thematic Area") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="wos-thematic-area-operation" name="wos_thematic_areas_operation"  onclick="operation_change($(this), '#wos-thematic-area-to-filter');" value="AND" {{ 'checked' if filters.wos_thematic_areas_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div id="wos-thematic-area-checkbox-all-container" class="checkbox-all-modal">
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-wos-thematic-area-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="cencel_filters('wos-thematic-area');">{{ gettext("Cancel") }}</a>
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="accept_filters('wos-thematic-area');">{{ gettext("Accept") }}</a>
    </div>
  </div>

  <!-- LANGUAGES MODAL-->
  <div id="af-language-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Language") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox"  id="language-operation"  name="languages_operation" onclick="operation_change($(this), '#language-to-filter');" value="AND" {{ 'checked' if filters.languages_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div id="language-checkbox-all-container" class="checkbox-all-modal">
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-language-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="cancel_filters('language');">{{ gettext("Cancel") }}</a>
      <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="accept_filters('language');">{{ gettext("Accept") }}</a>
    </div>
  </div>
</form>


<!-- LANGUAGES MODAL-->
<div id="save-and-go-user-history-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>{{ gettext("Save Current Visualization") }}</h4>
    <br>     
  </div>
  <div class="modal-footer">
    <a href="/v3/user_history" class="modal-action modal-close waves-effect waves-deep-purple btn-flat">{{ gettext("Continue") }}</a>
    <a class="modal-action modal-close waves-effect waves-deep-purple btn-flat" onclick="save_to_user_history('#advanced-filters-form-aux');window.location='/v3/user_history';">{{ gettext("Save and Continue") }}</a>
  </div>
</div>
<!-- END FILTERS FORM -->