<form id="filters-form" method=post>
  <div id="filters-container">
    <!-- FILTERS PANEL -->
    <div id="filter-panel">
      <input type="hidden" id="filters-form-uhid" name="uhid">
      <input type="hidden" id="filters-form-lang" name="lang" value="{{ session['lang'] }}">
      <input type="hidden" id="filters-form-url" name="url" value="">
      <div class="row">
        <div class="col s3 m3 l3">
          <div class="input-field">
            <select id="scope-select" name="scope"></select>
            <label>{{ gettext("Scope") }}</label>
          </div>
        </div>
        <div class="col s5 m5 l5">
          <div class="input-field">
            <select id="scope-tabulations-select" name="tabulation"></select>
            <label>{{ gettext("Tabulation") }}</label>
          </div>
        </div>
        <div class="col s2 m2 l2">
          <div class="input-field">
            <select id="scope-tabulation-visualizations-select" name="visualization"></select>
            <label id="vis-label" class="parpadea">{{ gettext("Visualization") }}</label>
          </div>
        </div>
        <div class="col s2 m2 l2">
          <div class="right">
            <br>
            <button id="visulize-btn" type="submit" class="btn deep-purple waves-effect waves-light btn-block" onclick="save_to_history('#filters-form');">{{ gettext("Visualize") }}</button><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>