<!-- Dropdown Trigger -->
<a class='dropdown-button' href='#' data-activates='export-options-dropdown' title="Export Options"><i class="fa fa-bars" aria-hidden="true" style="font-size: 1.3em"></i> </a>
<!-- Dropdown Structure -->
<ul id='export-options-dropdown' class='dropdown-content'>
  <li class="print-export-option">
		<a onclick="printSVG('#visualization-area')">Print</a>
	</li>
  <li class="image-export-option">
  	<a id="eo-png" onclick="export_visualization('#world-map svg', 'png');">Export as PNG image</a>
  </li>
  <li class="image-export-option">
  	<a id="eo-jpeg" onclick="export_visualization('#world-map svg', 'jpeg');">Export as JPEG image</a>
  </li>
  <li class="image-export-option">
  	<a id="eo-svg" onclick="export_visualization('#world-map svg', 'svg');">Export as SVG vector image</a>
  </li>
  <li class="image-export-option">
  	<a id="eo-ppt" onclick="export_visualization('#world-map svg', 'pptx');">Export as PPT Slide</a>
  </li>
  <li class="xls-export-option">
    <form id="export-data-xls-form" action="{{ url_for('v3_exporterController.export') }}" method=post>
      {% if filters.tabulation == "1" %}
      	<input type="hidden" name="header1" value="Collection">
      {% elif filters.tabulation == "2" %}
      	<input type="hidden" name="header1" value="Thematic Area">
      {% elif filters.tabulation == "3" %}
      	<input type="hidden" name="header1" value="Language">
      {% elif filters.tabulation == "4" %}
      	<input type="hidden" name="header1" value="Country of Author's Affiliation">
      {% elif filters.tabulation == "5" %}
      	<input type="hidden" name="header1" value="Journal">
      {% else %}
      	<input type="hidden" name="header1" value="Header">
      {% endif %}
      <input type="hidden" name="header2" value="Year">
      <input type="hidden" name="filters" value="{{ filters.serialize }}">
      <input type="hidden" name="data" value="{{ data_table["by_year"] }}">
    </form>
    <a onclick="$('#export-data-xls-form').submit();">Export as XLS file</a>
  </li>
  <li class="pdf-export-option">
  	<a id="eo-pdf" onclick="export_visualization('#world-map svg', 'pdf');">Export as PDF file</a>
  </li>
</ul>

<a id="export-svg-as-image" style="display: none;"></a>
<canvas id="exporter-canvas" style="display: none;"></canvas>