<div class="container">
  	<div class="col s12 m12 l12">
	 		<ul id="collapsible-filters" class="collapsible no-shadow" data-collapsible="accordion">
				<li>
					<h6 class="collapsible-header"><b>Filters selected </b><small id="cf-sh">show</small></h6>
					<div class="collapsible-body filters">
						<table class="responsive-table striped">
							<tbody>
    					  <tr>
    				  		<td>Year Range</td>
    				  		<td>{{filters.from_year}}	-	{{filters.to_year}}</td>
    				  	</tr>
    				  	<tr>
    				  		<td>Study unit</td>
    				  		<td>{% if filters.study_unit==1 %} Collections {% elif filters.study_unit==2 %} Journal {% elif filters.study_unit == 3 %} Documents {%endif%}</td>
    				  	</tr>
    				  	<tr>
		    				  <td>Collections</td>
		    				  <td>
		    				  		{% if filters.collections|count > 0 %} 
		    				  				{% for c in filters.collections %}
		    				  					{{c}}<br/>
		    				  				{% endfor %} 
		    				  		{% else %} 
		    				  			ALL 
		    				  		{% endif %}
		    				  </td>
		    				</tr>
		    				<tr>
		    				  <td>Journals</td>
		    				  <td>
		    				  	{% if filters.journals|count > 0 %}		
		    				  		{% for j in filters.journals %}
		    				  			{{j}}<br/>
		    				  		{% endfor %} 
		    				  	{% else %} 
		    				  		ALL 
		    				  	{% endif %}
		    				  </td>
		    				</tr>
		    				<tr>
		    				  <td> Document type </td>
		    				  <td> 
		    				  	{% if filters.document_type is not none %}		
		    				  		{% for dt in filters.document_type %}
		    				  			{{dt}}<br/>
		    				  		{% endfor %} 
		    				  	{% else %} 
		    				  		ALL 
		    				  	{% endif %}
		    				  </td>
		    				</tr>
		    				<tr>
		    				  <td> Document type details </td>
		    				  <td> 
		    				  	{% if filters.document_type_details|count > 0 %}		
		    				  		{% for dtd in filters.document_type_details %}
		    				  			{{dtd}}<br/>
		    				  		{% endfor %} 
		    				  	{% else %} 
		    				  		ALL 
		    				  	{% endif %} 
		    				  </td>
		    				</tr>
		    				<tr>
		    				  <td> Thematic areas </td>
		    				  <td> 
		    				  	{% if filters.thematic_areas|count > 0 %}		
		    				  		{% for ta in filters.thematic_areas %}
		    				  			{{ta}}<br/>
		    				  		{% endfor %} 
		    				  	{% else %} 
		    				  		ALL 
		    				  	{% endif %} 
		    				  </td>
		    				</tr>
		    				<tr>
		    				  <td> WOS Thematic Areas </td>
		    				  <td> 
		    				  	{% if filters.wos_thematic_areas|count > 0 %}		
		    				  		{% for wta in filters.wos_thematic_areas %}
		    				  			{{wta}}<br/>
		    				  		{% endfor %} 
		    				  	{% else %} 
		    				  		ALL 
		    				  	{% endif %} 
		    				  </td>
		    				</tr>
		    				<tr>
		    				  <td> Languajes </td>
		    				  <td> 
		    				  	{% if filters.languages|count > 0 %}		
		    				  		{% for l in filters.languages %}
		    				  			{{l}}<br/>
		    				  		{% endfor %} 
		    				  	{% else %} 
		    				  		ALL 
		    				  	{% endif %} 
		    				  </td>
		    				</tr>
							</tbody>
						</table>
						<br/>
    			</div>
<!--    			<div>
			  		<b>Scope: </b>{{ filters.scope }}; <b>Tabulation: </b>{{ filters.tabulation }}; <b>Type of Visualization: </b>{{ filters.vistype }}; <b>Collections: </b>{{ filters.collections if filters.collections|count > 0 else 'none' }}; <b>Journals: </b>{{ filters.journals if filters.journals|count > 0 else 'none'  }}; 
    			</div>-->
    		</li>
    	</ul>
  	</div>
  </div>