<form id="filters-form" action="{{ url_for('indexController.graph') }}" method=post>
  <div id="filters-container">
  	<!-- FILTERS PANEL -->
    <div id="filter-panel">
      <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="input-field">
                <select id="vistype-select" name="vistype">
                  <option value="0">Documents</option>
                  <option value="1">Citations</option>
                  <option value="2">Geo Co-Author Network</option>
                  <option value="3">Geo journal affiliation choice network</option>
                </select>
                <label>Visualization Type</label>
              </div>
            </div>

            <!-- YEAR FILTERS -->
            <div class="col s12 m3 l3">
              <div class="input-field">
                <select id="year-select" name="years" >
                  <option value="ALL">All</option>
                  <option value="RANGE">Range</option>
                </select>
                <label>Year</label>
              </div>
              <div id="year-range-container" class="year-option" style="display: none;">
                <div class="input-field col s6 m6 l6">
                  <select id="year-select-from" name="years[from]">
                  </select>
                  <label>From</label>
                </div>
                <div class="input-field col s6 m6 l6">
                  <select id="year-select-to" name="years[to]">
                  </select>
                  <label>To</label>
                </div>
              </div>
            </div>
            <!-- END YEAR FILTERS -->

            <!-- STUDY UNIT FILTERS -->
            <div class="col s12 m3 l3">
              <div class="input-field">
                <select id="study-unit-select" name="study_unit">
                  <option value="1">Collections</option>
                  <option value="2">Journal</option>
                  <option value="3">Documents</option>
                </select>
                <label>Study Unit</label>
              </div>
              <!-- COLLECTIONS -->
              <div id="collections-select-container" class="study-unit-option" style="display: none;">
                <div class="input-field">
                  <select id="collections-select" name="study_unit[collections][]" multiple>
                    <option value="ALL" disabled>All</option>
                  </select>
                  <label>Collection</label>
                </div>
              </div>

              <!-- JOURNALS -->
              <div id="journal-select-container" class="study-unit-option" style="display: none;">
                <div class="input-field">
                  <select id="journal-select" name="study_unit[journals][]" multiple>
                    <option value="ALL" disabled>All</option>
                  </select>
                  <label>Journal</label>
                </div>
              </div>

              <!-- DOCUMENTS -->
              <div id="document-select-container" class="study-unit-option" style="display: none;">
                <div class="input-field">
                  <select id="document-type-select" name="study_unit[document-type]">
                    <option value="ALL">All</option>
                    <option value="Citable">Citable</option>
                    <option value="non-Citable">non-Citable</option>
                  </select>
                  <label>Document Type</label>
                </div>
                <div class="input-field">
                  <select id="document-type-detail-select" name="study_unit[document_type_details][]" multiple>
                    <option value="ALL" disabled>All</option>
                  </select>
                  <label>Document Type - details</label>
                </div>
              </div>
            </div>
            <!-- END STUDY UNIT FILTERS -->

            <!-- THEMATIC AREA FILTERS -->
            <div class="col s12 m3 l3">
              <div class="input-field">
                <select id="thematic-area-select" name="thematic_areas[]" multiple>
                  <option value="ALL" disabled>All</option>
                </select>
                <label>Thematic Area</label>
              </div>
              <div class="input-field">
                <select id="wos-thematic-area-select" name="wos_thematic_areas[]" multiple>
                  <option value="ALL" disabled>All</option>
                </select>
                <label>WoS - Thematic Area</label>
              </div>
            </div>
            <!-- END TEMATIC AREA FILTERS -->

            <!-- LANGUAGE FILTERS -->
            <div class="col s3 m3 l3">
              <div class="input-field">
                <select id="language-select" name="languages[]" multiple>
                  <option value="ALL" disabled>All</option>
                </select>
                <label>Language</label>
              </div>
            </div>
            <!-- END LANGUAGE FILTERS -->
        </div>
        <!-- END FILTERS -->
        
        <div class="row">
          <div class="col s12 m12 l12">
            <button type="submit" class="btn deep-purple right waves-effect waves-light">Filter</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- END PANEL FILTERS -->

  <!-- LANZADOR PANEL FILTERS -->
  <div id="filter-laucher" class="deep-purple lighten-2"></div>
  <div class="container">
    
  </div>
  <!-- END LANZADOR PANEL FILTERS -->
</div>