{% extends "v3/layouts/layout_history.html" %}

{% block visualization_block %}
	<div class="visualizations-area">
    <!-- NO SOPORTADO -->
    <div class="row">
      <div id="no-local-storage-card" class="col s12 m6 offset-m3 l6 offset-l3" style="display: none;">
        <div class="card deep-purple darken-2">
          <div class="card-content white-text">
            <span class="card-title">Nooo!!!</span>
            <p>{{ gettext("Sorry, your browser does not support Web Storage for this funcionality") }}</p>
          </div>
          <div class="card-action">
            <a href="/v3">{{ gettext("Go to Home") }}</a>
          </div>
        </div>
      </div>
      
      <div id="no-visualization-history-card" class="col s12 m6 offset-m3 l6 offset-l3" style="display: none;">
        <div class="card deep-purple darken-2">
          <div class="card-content white-text">
            <span class="card-title">{{ gettext("No visualization in history") }}</span>
          </div>
          <div class="card-action">
            <a href="/v3">{{ gettext("Go to Home") }}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- HISTORIAL -->
    <div class="row">
      <div id="history-table-container" class="col s12 m12 l12" style="display: none;">
        <table id="history-table" class="table">
          <thead>
            <tr>
              <th class="col s10 m10 l10"><h4>{{ gettext("Visualization History") }}</h4><br></th>
              <th class="col s2 m2 l2"><br><a href="/v3" class="btn btn-block waves-effect waves-light deep-purple">{{ gettext("Go to Home") }}</a></th>
            </tr>
            <tr>
              <th class="col s2 m2 l2">{{ gettext("ID") }}</th>
              <th class="col s8 m8 l8">{{ gettext("Selected Filters") }}</th>
              <th class="col s2 m2 l2">{{ gettext("Options") }}</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_footer %}
  {% include "v3/partials/scope-tab-vis.js" %}
  {% include "v3/partials/filters-3.js" %}
  <script type="text/javascript">
    ISO_3166_ALPHA3 = {{ ISO_3166_ALPHA3|tojson }};
    country_collections = {{ country_collections|safe }};
    not_collections = {{ not_collections|safe }};
    ISO_639_ALPHA2 = {{ ISO_639_ALPHA2|tojson }};

    if (typeof(Storage) !== "undefined") {
      if(localStorage["history"] !== undefined){
        $('#history-table-container').show();
        for( var i = localStorage["history"]; i >= 0; i--){
          h_id = "h"+i;
          if(localStorage[h_id]){
            tr = $('<tr>').attr('id', h_id);
            
            tr.append($('<td>').attr('class', 'col s2 m2 l2').text('Historical '+i));
            
            data = jQuery.parseJSON(localStorage[h_id]);
            
            filters = "Scope: <b>" + stFilters[data['scope']]["text"][LANG] + "</b><br>"
            filters += "Tabulation: <b>" + stFilters[data['scope']]["tabulations"][data['tabulation']]["text"][LANG] + "</b><br>"
            filters += "Visualization: <b>" + data['visualization'] + "</b><br>"
            if(data['scope'] == '2'){
              if( data.hasOwnProperty('frequency') ){
                filters += "Frequency of Relationship: <b>" + data['frequency'] + "</b><br>"
              }
            }
            filters += show_filters_collections(data, 'collection[]', 'collections_operator', 'Collection');
            filters += show_filters_with_operator(data, 'journal[]', 'journals_operator', 'Journal');
            filters += show_filters_languages(data, 'language[]', 'languages_operator', 'Language');
            filters += show_filters_with_operator(data, 'thematic-area[]', 'thematic_areas_operator', 'SciELO Thematic Area');
            filters += show_filters_with_operator(data, 'wos-thematic-area[]', 'wos_thematic_areas_operator', 'WOS Thematic Area');         
            filters += show_filters_with_operator(data, 'document-type-detail[]', 'document_type_details_operator', 'Document Type Detail');
            if(data.hasOwnProperty('years[from]') && data.hasOwnProperty('years[to]')){
              filters += "From Year: <b>"+data['years[from]']+"</b><br>";
              filters += "To Year: <b>"+data['years[to]']+"</b><br>";
            }else{
              filters += "Year: <b>All</b><br>";
            }
            filters += "<br>";
            
            tr.append($('<td>').attr('class', 'col s8 m8 l8').append(filters));
            
            tr.append($('<td>').attr('class', 'col s2 m2 l2')
                               .append($('<a>').attr('class', 'btn deep-purple')
                                               .attr('onclick', "visualize_historical('"+h_id+"')")
                                               .attr('style', "margin-right: 5px;")
                                               .append($('<i>').attr('class', 'fa fa-eye')))
                               .append($('<a>').attr('class', 'btn red')
                                               .attr('onclick', "remove_from_history('"+h_id+"')")
                                               .append($('<i>').attr('class', 'fa fa-trash')))
                               );
                        
            $("#history-table").find('tbody').append(tr);
          }
        }
      }else{
        $('#no-visualization-history-card').show();
      }
    } else {
      $("#no-local-storage-card").show();
    }


    function show_filters_with_operator(data_filter, key, operator_key, name){
      filters_string = ""
      if(data_filter.hasOwnProperty(key)){
        filters_string += name + ": "
        if( typeof data_filter[key] === 'string' ) {
          filters_string += "<b>" + data_filter[key] + "</b>";
        }else{
          for(c in data_filter[key]){
            if(c < data_filter[key].length-1){
              if(data_filter.hasOwnProperty(operator_key)){
                filters_string += "<b>" + data_filter[key][c] + " </b>and ";
              }else{
                filters_string += "<b>" + data_filter[key][c] + " </b>or ";
              }
            }else{
              filters_string += "<b>" + data_filter[key][c] + " </b>";
            }
          }
        }
        filters_string += "<br>"
      }
      return filters_string
    }


    function show_filters_collections(data_filter, key, operator_key, name){
      filters_string = ""
      if(data_filter.hasOwnProperty(key)){
        filters_string += name + ": "
        if( typeof data_filter[key] === 'string' ) {
          filters_string += "<b>" + data_filter[key] + "</b>";
        }else{
          for(c in data_filter[key]){
            //Translated value
            val = data_filter[key][c].toLowerCase();
            if(country_collections.hasOwnProperty(val) && not_collections.indexOf(val) == -1){
              val =  ISO_3166_ALPHA3[country_collections[val]]["fullname"];
            }

            if(c < data_filter[key].length-1){
              if(data_filter.hasOwnProperty(operator_key)){
                filters_string += "<b>" + val + " </b>and ";
              }else{
                filters_string += "<b>" + val + " </b>or ";
              }
            }else{
              filters_string += "<b>" + val + " </b>";
            }
          }
        }
        filters_string += "<br>"
      }
      return filters_string
    }


    function show_filters_languages(data_filter, key, operator_key, name){
      filters_string = ""
      if(data_filter.hasOwnProperty(key)){
        filters_string += name + ": "
        if( typeof data_filter[key] === 'string' ) {
          filters_string += "<b>" + data_filter[key] + "</b>";
        }else{
          for(c in data_filter[key]){
            //Translated value
            val = data_filter[key][c].toLowerCase();
            if(ISO_639_ALPHA2.hasOwnProperty(val)){
              val =  ISO_639_ALPHA2[val]["english"];
            }
            console.log(val)

            if(c < data_filter[key].length-1){
              if(data_filter.hasOwnProperty(operator_key)){
                filters_string += "<b>" + val + " </b>and ";
              }else{
                filters_string += "<b>" + val + " </b>or ";
              }
            }else{
              filters_string += "<b>" + val + " </b>";
            }
          }
        }
        filters_string += "<br>"
      }
      return filters_string
    }
  </script>
{% endblock %}