{% extends "v3/layouts/layout_index.html" %}

{% block filters %}
  {% include "v3/partials/filters.html" %}
{% endblock %}

{% block visualization_block %}
	<div class="visualizations-area">
    <!-- MAPS -->
    <div id="maps-container">
      <div id="world-map1" class="d3plus-container"></div>
    </div>
    <!-- TREEMAPS -->
    <div id="treemaps-container"></div>
    <!-- TABLES -->
    <div id="tables-container"></div>
  </div>
{% endblock %}

{% block js_footer %}
  {% include "v3/partials/scope-tab-vis.js" %}
  {% include "v3/partials/filters-3.js" %}
{% endblock %}