{% extends "v3/layouts/layout.html" %}


{% block filters %}
  {% include "v3/partials/filters.html" %}
{% endblock %}


{% block advanced_filters %}
  {% include "v3/partials/document-filters.html" %}
{% endblock %}


{% block visualization_block %}
  <div class="col s12 m12 l12" style="margin-bottom: 10px;">
    <div id="options-panel" class="left">
      {% include "v3/partials/scope-2-export-options.html" %}
      {% include "v3/partials/social_networks.html" %}        
    </div>

    <div class="right">
      <span class="total-journals right">
        <b>{{ total_journals }} {{ gettext("Journals") }}</b>
      </span>
      <span class="total-docs right">
        <b>{{ total_docs }} {{ gettext("Documents") }}</b>
      </span>
      <br>
      <a id="info-trigger" class="right">
        <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1.3em"></i>
      </a>
    </div>    
  </div>

  <div class="col s12 m12 l12">
    <div id="visualization-area">
      <!-- MAP -->
      <div id="map-container" style="display: none;">
        <div id="map-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Country color represents <b class='scope-tabulation'></b>. Mouse over a country additional information is shown. Mouse over a country display number of documents.") }}
        </div>
        <div id="world-map" class="d3plus-container"></div>
      </div>

      
      <!-- TREEMAPs -->
      <div id="treemap-container" style="display: none;">
        <div id="treemap-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Treemap distributes <b class='scope-tabulation'></b>. Click on a treemap box to filter the data of the country per year of publication.") }}
        </div>
        <div id="treemap-by" class="treemap"></div>
      </div>

      <!-- LINECHART -->
      <div id="linechart-container" style="display: none;">
        <div id="linechart-info" class="card-panel deep-purple lighten-5 info-container">
          {{ gettext("Linechart represents <b class='scope-tabulation'></b> in each year. Click on a line to filter the data.") }}
        </div>
        <div id="linechart-by" class="d3plus-container"></div>
      </div>

      <!-- MULTIPLE SELECT -->
      <div id="multiple-select-area" style="display: none">
        <br><br>
        <div id="clicked" class="col s12 m12 l12">
        </div>        
        <div class="col s12 m12 l12">
          <a id="sd-clicked-btn" class="waves-effect waves-light btn deep-purple">{{ gettext("Show Data")}}</a>
          <a id="f-clicked-btn" class="waves-effect waves-light btn deep-purple">{{ gettext("Filter Selected") }}</a>
        </div>          
      </div>
    </div>

    <!-- TABLEs -->
    <div id="table-container" style="display: none;">
      <table id="visualization-table" class="table">
        <thead>
          <th>{{ gettext("Collection") }}</th>
          <th>{{ gettext("Year") }}</th>
          <th>{{ gettext("#Documents") }}</th>
          <th>{{ gettext("#Journals") }}</th>
        </thead>
         <tbody>
          {% for i in data_table["by_year"] %}
            {% for k, v in data_table["by_year"][i].items() %}
              <tr>
                <td>{{ i }}</td>
                <td>{{ k }}</td>
                <td>{{ v['documents'] }}</td>
                <td>{{ v['journals'] }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <!--<table id="visualization-table" class="table">
        <thead>
          <tr>
            <th rowspan="2">{{ gettext("Collection") }}</th>
            <th rowspan="2">{{ gettext("Year") }}</th>
            <th rowspan="2">{{ gettext("#Documents") }}</th>
            <th rowspan="2">{{ gettext("#Journals") }}</th>
            <th colspan="5"  style="border-left: solid 1px black;">{{ gettext("Journals by Language") }}</th>
            <th colspan="10" style="border-left: solid 1px black;">{{ gettext("Journals by Thematic Area") }}</th>
            <th colspan="11" style="border-left: solid 1px black;">{{ gettext("Citable Documents Type") }}</th>
          </tr>
          <tr>
            <th style="border-left: solid 1px black;">{{ gettext("English") }}</th>
            <th>{{ gettext("Spanish") }}</th>
            <th>{{ gettext("Portuguese") }}</th>
            <th>{{ gettext("Other") }}</th>
            <th>{{ gettext("Total") }}</th>
            <th style="border-left: solid 1px black;">{{ gettext("Health Sciences") }}</th>
            <th>{{ gettext("Human Sciences") }}</th>
            <th>{{ gettext("Biological Sciences") }}</th>
            <th>{{ gettext("Agricultural Sciences") }}</th>
            <th>{{ gettext("Applied Social Sciences") }}</th>
            <th>{{ gettext("Exact and Earth Sciences") }}</th>
            <th>{{ gettext("Engineering") }}</th>
            <th>{{ gettext("Linguistics, Letters and Arts") }}</th>
            <th>{{ gettext("Undefined") }}</th>
            <th>{{ gettext("Total") }}</th>
            <th style="border-left: solid 1px black;">{{ gettext("Research Article") }}</th>
            <th>{{ gettext("Editorial") }}</th>
            <th>{{ gettext("Book Review") }}</th>
            <th>{{ gettext("Case Report") }}</th>
            <th>{{ gettext("Review Article") }}</th>
            <th>{{ gettext("Rapid Communication") }}</th>
            <th>{{ gettext("Letter") }}</th>
            <th>{{ gettext("Brief Report") }}</th>
            <th>{{ gettext("Article Commentary") }}</th>
            <th>{{ gettext("Abstract") }}</th>
            <th>{{ gettext("Total") }}</th>
          </tr>
        </thead>
         <tbody>
          {% for i in data_table["by_year"] %}
            {% for k, v in data_table["by_year"][i].items() %}
              <tr>
                <td>{{ i }}</td>
                <td>{{ k }}</td>
                <td>{{ v['documents'] }}</td>
                <td>{{ v['journals'] }}</td>

                <td style="border-left: solid 1px black;">{{ v['by_language']['en']["journals"] }}</td>
                <td>{{ v['by_language']['es']["journals"] }}</td>
                <td>{{ v['by_language']['pt']["journals"] }}</td>
                <td>{{ v['by_language']['other']["journals"] }}</td>
                <td>{{ v['by_language']['total']["journals"] }}</td>

                <td style="border-left: solid 1px black;">{{ v['by_thematic_area']["Health Sciences"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["Human Sciences"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["Biological Sciences"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["Agricultural Sciences"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["Applied Social Sciences"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["Exact and Earth Sciences"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["Engineering"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["Linguistics, Letters and Arts"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["undefined"]["journals"] }}</td>
                <td>{{ v['by_thematic_area']["total"]["journals"] }}</td>

                <td style="border-left: solid 1px black;">{{ v['by_citable_doc']["research-article"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["editorial"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["book-review"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["case-report"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["review-article"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["rapid-communication"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["letter"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["brief-report"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["article-commentary"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["abstract"]["journals"] }}</td>
                <td>{{ v['by_citable_doc']["total"]["journals"] }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>-->
    </div>
  </div>
{% endblock %}


{% block js_footer %}
  {% include "v3/partials/scope-tab-vis.js" %}
  {% include "v3/partials/filters-3.js" %}
  <script type="text/javascript" src="{{ url_for('static', filename='v3/js/bibliometrics.d3plus_autoplay.js') }}"></script>
  <script type="text/javascript">
    initalize_filters();
    //Renderizamos jsons
    data_treemap = {{ data_treemap|tojson }};
    data_map = {{ data_map|tojson }};
    data_linechart = {{ data_linechart|tojson }}
    visualization = "{{ filters.visualization|safe }}"

    data_table = {{ data_table|tojson }}
    console.log(data_table)

    var generated_map = false;
    var generated_treemap = false;
    var generated_linechart = false;

    //Rellenar scope y tabulacion
    //LANG  y DEPLUS_LANG desde filters-3.js
    $('.scope-tabulation').html("["+stFilters["{{filters.scope}}"]["text"][LANG]+" "+stFilters["{{filters.scope}}"]["tabulations"]["{{filters.tabulation}}"]["text"][LANG]+"]");

    change_visualization(visualization, false);


    function map(timeline){
      $("#world-map").html("");
      d3plus_map = d3plus.viz()
                         .container("#world-map")    // container DIV to hold the visualization
                         .data(data_map)                 // data to use with the visualization
                         .coords({"projection": "equirectangular", "value": "/static/js/d3plus/countries.json", "mute":["anata"]}) // pass topojson coordinates
                         .type("geo_map")            // visualization type
                         .id("group-country-code")                 // key for which our data is unique on
                         .text("group-country-name")             // key to use for display text
                         .color(["journals"])           // key for coloring countries
                         .zoom({'click': false})
                         .format(D3PLUS_LANG)
                         .mouse({
                          'click': function(country){
                            if ('d3plus_label' in country){
                              select_from_visualization2("collection", country['d3plus_label']['names'][0]);
                            }
                          }
                         });
      d3plus_map.draw();  
    }       
    function treemap(timeline){
      $("#treemap-by").html("");
      d3plus_treemap = d3plus.viz()
                             .container("#treemap-by")
                             .data(data_treemap)
                             .type("tree_map")
                             .id(["group-country-name"])
                             .size("journals")
                             //.tooltip({"share": false})
                             .labels({"align": "left", "valign": "top"})
                             .format(D3PLUS_LANG)
                             .mouse({
                                "click": function(data, viz) {
                                  select_from_visualization2("collection", data['group']);
                                }
                             });
      d3plus_treemap.draw();
    }
    function linechart(timeline){
      $("#linechart-by").html("");
      d3plus_linechart = d3plus.viz()
                               .container("#linechart-by")
                               .data(data_linechart["by_year"])
                               .type("line")
                               .id("group-country-name")
                               .text("group-country-name")
                               .y("journals")
                               .x("sub-group")
                               .y({"grid": false})
                               .x({"grid": false, "label": "Years"})
                               .format(D3PLUS_LANG)
                               .mouse({
                                 'click': function(data){
                                    select_from_visualization2("collection", data['d3plus_data']['group']);
                                 }
                               })
                               .axes({"background": {"color": "#FFF"}});
      d3plus_linechart.draw();
    }

    function change_visualization(option, timeline){
      flag = 0
      $("#map-container").hide();
      $("#treemap-container").hide();
      $("#linechart-container").hide();
      $("#table-container").hide();
      $("#timeline-info").hide();
      $("#timeline-btn-1").hide();
      $("#timeline-btn-2").hide();
      $("#animate-btn").hide();
      $("#info-trigger").hide();
      $("#info-trigger").mouseover('');
      $("#info-trigger").mouseout('');
      /*Map
      ----------------------------------------------------------*/
      if(option == "map"){
        $("#map-container").show();
        $("#animate-btn").show();
        $("#info-trigger").mouseover( function(){$('#map-info').show()})
                          .mouseout(function(){$('#map-info').hide()})
                          .show();
        //if(!generated_map){
          map(timeline);
          d3_autoplay();
          generated_map = true;
        //}
      }

      /*Treemaps
      ----------------------------------------------------------*/
      if(option == "treemap"){
        $("#treemap-container").show();
        $("#animate-btn").show();
        $("#info-trigger").mouseover(function(){$('#treemap-info').show()})
                          .mouseout(function(){$('#treemap-info').hide()})
                          .show();
        //if(!generated_treemap){
          treemap(timeline);
          d3_autoplay();
          generated_treemap = true;
        //}
      }

      /*Lineachart
      ----------------------------------------------------------*/
      if(option == "linechart"){
        $("#linechart-container").show();
        $("#info-trigger").mouseover(function(){$('#linechart-info').show()})
                          .mouseout(function(){$('#linechart-info').hide()})
                          .show();
        if(!generated_linechart){
          linechart(timeline);
          d3_autoplay();
          generated_linechart = true;
        }
      }


      /*Table
      ----------------------------------------------------------*/
      if(option == "table"){
        $("#table-container").show();
      }

    }

    //Modal
    $('.modal-trigger').leanModal();
    //Dropdown
    $('.dropdown-button').dropdown();
    
    //DataTables
    //$('#visualization-table').DataTable({
    //  scrollY:        "400px",
    //  scrollX:        true,
    //  scrollCollapse: true,
    //  paging:         false,
    //  fixedColumns:   {
    //      leftColumns: 3
    //  }
    //});
    $('#visualization-table').DataTable();

  </script>
{% endblock %}