body {
}

.js-loading-overlay {
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


a{
  cursor: pointer;
}

#header-block{
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

header{
  /*background-color: #3367D6;*/
  width: 100%;
  height: 60px;
  padding: 5px;
  /*border-bottom: solid 5px #4db6ac;*/
}

#header-box{
  margin-top: -10px;
}

#header-logo{
  height: 50px;
  padding: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

#filters-container{
  padding-top: 5px;
  background-color: #eceff1;
}

#year-inputs{
  height: 250px;
  overflow-y: scroll; 
}


#body-container{
  margin-top: 170px; 
  min-height: 70vh;
}

#world_legend{
  position: absolute;
  right: 0;
  bottom: 0;
}

#pre-footer{
  height: 10px;
}
footer{
  min-height: 30vh;
  padding-top: 5vh;
  padding-bottom: 2vh;
  background-color:#263238;
  color: #fff;  
}

#developed_by{
  text-align: center;
}

#copy-text{
  font-size: 0.7em;
  color: white;
}

.filters{
  margin-left: 15%;
  margin-right: 15%;  
}

.no-shadow{
  box-shadow: none;  
  border: none;
}

#graph-container{
  display: none;
}


.select-dropdown .active{
  color: black;
}


/*Sobreescribir Tabs*/
.tabs .tab a {
  color: #263238;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs .tab a:hover {
  color: #37474f;
}

.tabs .tab.disabled a {
  color: #37474f;
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #455a64;
  will-change: left, right;
}

/*Tabs 2do nivel*/
.tabs-2do-nivel .tab a {
  color: #455a64;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs-2do-nivel .tab a:hover {
  color: #546e7a;
}

.tabs-2do-nivel .tab.disabled a {
  color: #546e7a;
  cursor: default;
}

.tabs-2do-nivel .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #607d8b;
  will-change: left, right;
}

/*Visualization's Containers*/
.d3plus-container{
  width: 100%;
  height: 50vh;
}
.d3plus-container-xl{
  width: 100%;
  height: 90vh;
}
.treemap{
  height: 50vh;
}

/*------------------------------------------------------------*/
blockquote{
  border-left: 8px solid #b39ddb;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 1em;
    color: #673ab7;
    display: block;
    line-height: 22px;
    padding: 6px 6px;
}

.checkbox-deep-purple[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #7e57c2;
     background-color: #7e57c2;
}

.visualizations-area{
  min-height: 450px;
}

.visualizations-block{
  min-height: 30vh;
}

.scope-and-description{
	overflow-y: auto;
}

.visualization-filters-block{
	position: absolute;
	top: 50%;
	right: 5px;
	background-color: #9575cd;
}


.parpadea{
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

#no-local-storage-card{
  display: none;
  margin-top: 120px;
}

.cc-chevron, .jc-chevron, .lc-chevron,
.yc-chevron, .tac-chevron, .wtac-chevron,
.lwta-chevron, .dtc-chevron, .span-chevron {
  cursor: pointer;
}

#advanced-filters-form-submit-btn{
  z-index: 100;
}

/*Selected Filters*/
.collection-2 {
    margin: 0.2rem 0 0.2rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.collection-2 .collection-item-2{
    background-color: #fff;
    padding: 3px 20px;
    border: none;
    margin: 0;
}
.item-separator{
    background-color: #fff;
    font-size: 0.8em;
    padding: 0 20px;
    border: none;
    margin: 0;
    color: #673ab7;

}
.item-operation{
    background-color: #fff;
    font-size: 0.7em;
    margin: 0;
}

.info-container{
  display: none;
  position: absolute;
  width: 73.21%;
  z-index: 2;
}



/*SWITCH*/
.switch label input[type=checkbox]:checked+.lever {
    background-color: #9575cd;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #7e57c2;
    left: 24px;
}

.d3plus_tooltip_container{
  z-index: 1;
}

#d3plus_tooltip_id_visualization_focus{
  z-index: 0 !important;
}

#export-options-dropdown{
  min-width: 205px !important;
}

.checkbox-all-modal{
  padding: 8px 10px;
}

#historical-id{
  padding: 5px;
  color: #fff !important;
}