body {
}

header{
    /*background-color: #3367D6;*/
    width: 100%;
    height: 80px;
    padding: 5px;
    /*border-bottom: solid 5px #4db6ac;*/
}

#header-box{
    margin-top: 10px;
}
#header-logo{
    height: 60px;
    padding: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

#header-title{
    font-size: 2em;
}

#filters-container{
    position: absolute;
    width: 100%;
    z-index: 10000;
}
#filter-btn-panel{
    /*top: -25px;*/
    margin-top: 5px;
}

#filter-panel{
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255,255,255,0.95);
}

#advanced-filters-panel{
    display: none;
    padding-bottom: 20px;
}
#filter-laucher{
    height: 10px;
}

#year-inputs{
    height: 250px;
    overflow-y: scroll; 
}

#body-container{
    min-height: 70vh;
}

#visualizations-container{
    min-height: 50vh;
}
#world_legend{
    position: absolute;
    right: 0;
    bottom: 0;
}

#pre-footer{
    height: 10px;
}
footer{
    min-height: 30vh;
    padding-top: 5vh;
    padding-bottom: 2vh;
    background-color:#263238;
    color: #fff;    
}

#developed_by{
    text-align: center;
}

#copy-text{
    font-size: 0.7em;
    color: white;
}

.filters{
    margin-left: 15%;
    margin-right: 15%;    
}

.no-shadow{
    box-shadow: none;    
    border: none;
}

#graph-container{
    display: none;
}


.select-dropdown .active{
    color: black;
}


/*Sobreescribir Tabs*/
.tabs .tab a {
  color: #263238;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs .tab a:hover {
  color: #37474f;
}

.tabs .tab.disabled a {
  color: #37474f;
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #455a64;
  will-change: left, right;
}

/*Tabs 2do nivel*/
.tabs-2do-nivel .tab a {
  color: #455a64;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs-2do-nivel .tab a:hover {
  color: #546e7a;
}

.tabs-2do-nivel .tab.disabled a {
  color: #546e7a;
  cursor: default;
}

.tabs-2do-nivel .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #607d8b;
  will-change: left, right;
}

/*Visualization's Containers*/
.d3plus-container{
  width: 100%;
  height: 75vh;
}
.treemap{
  height: 70vh;
}