<form id="advanced-filters-form-aux" method="post">
  <input type="hidden" id="advanced-filters-form-lang-aux" name="lang" value="{{ session['lang'] }}">
  <input type="hidden"  id="advanced-filters-form-url-aux" name="url" value="">
  <input type="hidden" name="scope" value="{{ filters.scope }}">
  <input type="hidden" name="tabulation" value="{{ filters.tabulation }}">
  <input id="visualization-hidden-aux" type="hidden" name="visualization" value="{{ filters.visualization }}">
  
  {% if (filters.collections|count > 0) or (filters.journals|count > 0) or (filters.document_type is not none and filters.document_type != 'ALL') or (filters.document_type_details|count > 0) or (filters.thematic_areas|count > 0) or (filters.languages|count > 0) or (filters.languages|count > 0) %}
    <h5>{{ gettext("Selected Filters") }}</h5>
    {% set show_and = false %}
  {% endif %}

  <!-- FREQUENCY -->
  {% if filters.scope == '2' %}
    <ul class="collection-2">
        <input type="hidden" name="frequency" value="{{ filters.frequency }}">
        <li class="collection-item-2">
          <small>{{ gettext("Frequency of Relationship") }}: </small>
          {{ filters.frequency }}
          <a class="right">x</a>
        </li>
        {% set show_and = true %}
    </ul>
  {% endif %}

  <!-- COLLECTIONS -->
  {% if filters.collections|count > 0 %}
    {% if show_and %}
      <div class="item-separator">
          <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
      </div>
    {% endif %}
    <ul class="collection-2">
      {% for c in filters.collections %}
        <input type="hidden" name="collections[]" value="{{ c[0] }}">
        <li class="collection-item-2">
          <small>{{ gettext("Collection") }}: </small>
          {{ c[1].decode('utf-8') }}
          <a class="right" onclick="current_filter_check('collections[]', '{{ c[0] }}');">x</a>
        </li>
        {% if filters.collections.index(c)+1  < filters.collections|length %}
          <li class="item-operation">
            <center><b>{{ filters.collections_operation }}</b></center>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% set show_and = true %}
  {% endif %}
  <!-- JOURNALS -->
  {% if filters.journals|count > 0 %}
    {% if show_and %}
      <div class="item-separator">
          <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
      </div>
    {% endif %}
    <ul class="collection-2">
      {% for j in filters.journals %}
        <input type="hidden" name="journals[]" value="{{ j }}">
        <li class="collection-item-2">
          <small>{{ gettext("Journal") }}: </small>
          {{ j }}
          <a class="right" onclick="current_filter_check('journals[]', '{{ j }}');">x</a>
        </li>
        {% if filters.journals.index(j)+1  < filters.journals|length %}
          <li class="item-operation">
            <center><b>{{ filters.journals_operation }}</b></center>
          </li>
        {% endif %}
      {% endfor %}
    </ul> 
    {% set show_and = true %}
  {% endif %}
  <!-- DOCUMENT TYPE -->
  {% if filters.document_type is not none and filters.document_type != 'ALL' %}
    <input type="hidden" name="document_type" value="{{ filters.document_type }}">
    {% if show_and %}
      <div class="item-separator">
          <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
      </div>
    {% endif %}
    <ul class="collection-2">
      <li class="collection-item-2">
        <small>{{ gettext("Document Type") }}: </small><br>
        {{ filters.document_type }}
        <a class="right" onclick="current_filter_document_type();">x</a>
      </li>
    </ul>
    {% set show_and = true %}
  {% endif %}
  <!-- DOCUMENT TYPE DETAILS-->
  {% if filters.document_type_details|count > 0 %}
    {% if show_and %}
      <div class="item-separator">
          <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
      </div>
    {% endif %}
    <ul class="collection-2">
      {% for dtd in filters.document_type_details %}
        <input type="hidden" name="document_type_details" value="{{ dtd[0] }}">
        <li class="collection-item-2">
          <small>{{ gettext("Document Type Details") }}: </small>
          {{ dtd[1].decode('utf-8') }}
          <a class="right" onclick="current_filter_check('document_type_details[]', '{{ dtd[0] }}');">x</a>
        </li>
        {% if filters.document_type_details.index(dtd)+1  < filters.document_type_details|length %}
          <li class="item-operation">
            <center><b>{{ filters.document_type_details_operation }}</b></center>
          </li>
        {% endif %}
      {% endfor %}
    </ul> 
    {% set show_and = true %}
  {% endif %}
  <!-- THEMATIC AREAS-->
  {% if filters.thematic_areas|count > 0 %}
    {% if show_and %}
      <div class="item-separator">
          <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
      </div>
    {% endif %}
    <ul class="collection-2">
      {% for ta in filters.thematic_areas %}
        <input type="hidden" name="thematic_areas[]" value="{{ ta[0] }}">
        <li class="collection-item-2">
          <small>{{ gettext("Thematic Area") }}: </small><br>
          {{ ta[1].decode('utf-8') }}
          <a class="right" onclick="current_filter_check('thematic_areas[]', '{{ ta[0] }}');">x</a>
        </li>
        {% if filters.thematic_areas.index(ta)+1  < filters.thematic_areas|length %}
          <li class="item-operation">
            <center><b>{{ filters.thematic_areas_operation }}</b></center>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% set show_and = true %}
  {% endif %}
  <!-- WOS THEMATIC AREAS-->
  {% if filters.wos_thematic_areas|count > 0 %}
    {% if show_and %}
      <div class="item-separator">
          <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
      </div>
    {% endif %}
    <ul class="collection-2">
      {% for wta in filters.wos_thematic_areas %}
        <input type="hidden" name="wos_thematic_areas[]" value="{{ wta[0] }}">
        <li class="collection-item-2">
          <small>{{ gettext("WOS Thematic Area") }}: </small><br>
          {{ wta[1].decode('utf-8') }}
          <a class="right" onclick="current_filter_check('wos_thematic_areas[]', '{{ wta[0] }}');">x</a>
        </li>
        {% if filters.wos_thematic_areas.index(wta)+1  < filters.wos_thematic_areas|length %}
          <li class="item-operation">
            <center><b>{{ filters.wos_thematic_areas_operation }}</b></center>
          </li>
        {% endif %}
      {% endfor %}
    </ul> 
    {% set show_and = true %}
  {% endif %}
  <!-- LANGUAGES-->
  {% if filters.languages|count > 0 %}
    {% if show_and %}
      <div class="item-separator">
          <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
      </div>
    {% endif %}
    <ul class="collection-2">
      {% for l in filters.languages %}
        <input type="hidden" name="languages[]" value="{{ l[0] }}">
        <li class="collection-item-2">
          <small>{{ gettext("Language") }}: </small>
          {{ l[1].decode('utf-8') }}
          <a class="right" onclick="current_filter_check('languages[]', '{{ l[0] }}');">x</a>
        </li>
        {% if filters.languages.index(l)+1  < filters.languages|length %}
          <li class="item-operation">
            <center><b>{{ filters.languages_operation }}</b></center>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% set show_and = true %}
  {% endif %}
  <!-- YEAR RANGE -->
  <input type="hidden" name="years[from]" value="{{ filters.from_year }}">
  <input type="hidden" name="years[to]" value="{{ filters.to_year }}">
  {% if show_and %}
    <div class="item-separator">
        <center><b><i class="fa fa-plus" aria-hidden="true"></i></b></center>
    </div>
  {% endif %}
  <ul class="collection-2">
    <li class="collection-item-2">
      <small>{{ gettext("Year Range") }}: </small><br>
      {{filters.from_year}} - {{filters.to_year}}
      <a class="right" onclick="current_filter_years();">x</a>
    </li>
  </ul>
</form>




<!-- FILTERS FORM -->
<form id="advanced-filters-form" method=post>
  <button id="advanced-filters-form-submit-btn" type="submit" class="btn deep-purple waves-effect waves-light disabled" disabled="true" onclick="save_to_history('#advanced-filters-form')">Filter</button>
  <br><br>
  <input type="hidden" id="advanced-filters-form-lang" name="lang" value="{{ session['lang'] }}">
  <input type="hidden"  id="advanced-filters-form-url" name="url" value="">
  <input type="hidden" name="scope" value="{{ filters.scope }}">
  <input type="hidden" name="tabulation" value="{{ filters.tabulation }}">
  <input id="visualization-hidden" type="hidden" name="visualization" value="{{ filters.visualization }}">

  <div class="col s12 m12 l12">
    <!-- YEAR FILTERS -->
    <b>
      <i class="yc-chevron fa fa-chevron-down" onclick="toggle_filter_container('.yc-chevron', '#year-container');" ></i>
      <i class="yc-chevron fa fa-chevron-right" onclick="toggle_filter_container('.yc-chevron', '#year-container');" style="display: none"></i>
      <span class="span-chevron" onclick="toggle_filter_container('.yc-chevron', '#year-container');">{{ gettext("Year") }}</span>
    </b>
    <div id="year-container">
      <div class="input-field" style="width: 45%; float: left;">
        <select id="year-select-from" name="years[from]">
        </select>
        <label>{{ gettext("From") }}</label>
      </div>
      <div class="input-field" style="width: 45%; float: left; margin-left: 10%;">
        <select id="year-select-to" name="years[to]">
        </select>
        <label>{{ gettext("To") }}</label>
      </div>
    </div>
    <!-- END YEAR FILTERS -->

    <br><div class="divider"></div><br>

    <!-- FREQUENCY FILTER -->
    <b>
      <i class="fc-chevron fa fa-chevron-down" onclick="toggle_filter_container('.fc-chevron', '#frequency-range');" ></i>
      <i class="fc-chevron fa fa-chevron-right" onclick="toggle_filter_container('.fc-chevron', '#frequency-range');" style="display: none"></i>
      <span class="span-chevron" onclick="toggle_filter_container('.fc-chevron', '#frequency-range');">{{ gettext("Frequency of Relationship") }}</span>
    </b>
    <div id="frequency-range" class="child">
      <input id="frequency" type="number" name="frequency" min="1" value="{{ filters.frequency }}">
    </div>
    <!-- END FREQUENCY FILTERS -->

    <br><div class="divider"></div><br>
    
    <!-- COLLECTIONS -->
    <b>
      <i class="cc-chevron fa fa-chevron-down" onclick="toggle_filter_container('.cc-chevron', '#collection-checkboxes');" ></i>
      <i class="cc-chevron fa fa-chevron-right" onclick="toggle_filter_container('.cc-chevron', '#collection-checkboxes');" style="display: none"></i>
      <a href='#af-collections-modal' class='modal-trigger right'><i class="fa fa-cog right" ></i></a>
      <span class="span-chevron" onclick="toggle_filter_container('.cc-chevron', '#collection-checkboxes');">{{ gettext("Collection") }}</span>
    </b>
    <div class="switch">
      <label>
        {{ gettext("OR") }}
        <input type="checkbox" id="collections_operation_aux" onclick="check('#collections_operation');" value="AND" {{ 'checked' if filters.collections_operation == 'AND' else '' }}>
        <span class="lever"></span>
        {{ gettext("AND") }}
      </label>
    </div>
    <div id="collection-checkboxes" class="child">
    </div>
    <a href='#af-collections-modal' class='modal-trigger right'>{{ gettext("Show all") }}</a>
    <!-- END COLLECTIONS -->

    <br><div class="divider"></div><br>

    <!-- JOURNALS -->
    <b>
      <i class="jc-chevron fa fa-chevron-down" onclick="toggle_filter_container('.jc-chevron', '#journal-checkboxes');" ></i>
      <i class="jc-chevron fa fa-chevron-right" onclick="toggle_filter_container('.jc-chevron', '#journal-checkboxes');" style="display: none"></i>
      <a href='#af-journals-modal' class='modal-trigger right'><i class="fa fa-cog right" ></i></a>
      <span class="span-chevron" onclick="toggle_filter_container('.jc-chevron', '#journal-checkboxes');">{{ gettext("Journal") }}</span>
    </b>
    <div class="switch">
      <label>
        {{ gettext("OR") }}
        <input type="checkbox" id="journals_operation_aux" onclick="check('#journals_operation');" value="AND" {{ 'checked' if  filters.journals_operation == 'AND' else '' }}>
        <span class="lever"></span>
        {{ gettext("AND") }}
      </label>
    </div>
    <div id="journal-checkboxes">
    </div>
    <a href='#af-journals-modal' class='modal-trigger right'>{{ gettext("Show all") }}</a>
    <!-- END JOURNALS -->

    <br><div class="divider"></div><br>

    <!-- LANGUAGE -->
    <b>
      <i class="lc-chevron fa fa-chevron-down" onclick="toggle_filter_container('.lc-chevron', '#language-checkboxes');" ></i>
      <i class="lc-chevron fa fa-chevron-right" onclick="toggle_filter_container('.lc-chevron', '#language-checkboxes');" style="display: none"></i>
      <a href='#af-languages-modal' class='modal-trigger right'><i class="fa fa-cog right" ></i></a>
      <span class="span-chevron" onclick="toggle_filter_container('.lc-chevron', '#language-checkboxes');">{{ gettext("Language") }}</span>
    </b>
    <div class="switch">
      <label>
        {{ gettext("OR") }}
        <input type="checkbox" id="languages_operation_aux" onclick="check('#languages_operation');" value="AND" {{ 'checked' if filters.languages_operation == 'AND' else '' }}>
        <span class="lever"></span>
        {{ gettext("AND") }}
      </label>
    </div>
    <div id="language-checkboxes">
    </div>
    <a href='#af-languages-modal' class='modal-trigger right'>{{ gettext("Show all") }}</a>
    <!-- END LANGUAGE -->
    
    <br><div class="divider"></div><br>

    <!-- THEMATIC AREA FILTERS -->
    <b>
      <i class="tac-chevron fa fa-chevron-down" onclick="toggle_filter_container('.tac-chevron', '#thematic-area-checkboxes');" ></i>
      <i class="tac-chevron fa fa-chevron-right" onclick="toggle_filter_container('.tac-chevron', '#thematic-area-checkboxes');" style="display: none"></i>
      <a href='#af-thematic-area-modal' class='modal-trigger right'><i class="fa fa-cog right" ></i></a>
      <span class="span-chevron" onclick="toggle_filter_container('.tac-chevron', '#thematic-area-checkboxes');">{{ gettext("SciELO Thematic Area") }}</span>
    </b>
    <div class="switch">
      <label>
        {{ gettext("OR") }}
        <input type="checkbox" id="thematic_areas_operation_aux" onclick="check('#thematic_areas_operation');" value="AND" {{ 'checked' if filters.thematic_areas_operation == 'AND' else '' }}>
        <span class="lever"></span>
        {{ gettext("AND") }}
      </label>
    </div>
    <div id="thematic-area-checkboxes">
    </div>
    <a href='#af-thematic-area-modal' class='modal-trigger right'>{{ gettext("Show all") }}</a>
    <!-- END THEMATIC AREA FILTERS -->
    
    <br><div class="divider"></div><br>
 
    <!-- WOS TEMATIC AREA FILTERS -->
    <b>
      <i class="wtac-chevron fa fa-chevron-down" onclick="toggle_filter_container('.wtac-chevron', '#wos-thematic-area-checkboxes');" ></i>
      <i class="wtac-chevron fa fa-chevron-right" onclick="toggle_filter_container('.lwta-chevron', '#wos-thematic-area-checkboxes');" style="display: none"></i>
      <a href='#af-wos-thematic-area-modal' class='modal-trigger right'><i class="fa fa-cog right" ></i></a>
      <span class="span-chevron" onclick="toggle_filter_container('.lwta-chevron', '#wos-thematic-area-checkboxes');">{{ gettext("WOS Thematic Area") }}</span>
    </b>
    <div class="switch">
      <label>
        {{ gettext("OR") }}
        <input type="checkbox" id="wos_thematic_areas_operation_aux" onclick="check('#wos_thematic_areas_operation');" value="AND" {{ 'checked' if filters.wos_thematic_areas_operation == 'AND' else '' }}>
        <span class="lever"></span>
        {{ gettext("AND") }}
      </label>
    </div>
    <div id="wos-thematic-area-checkboxes">
    </div>
    <a href='#af-wos-thematic-area-modal' class='modal-trigger right'>{{ gettext("Show all") }}</a>
    <!-- END WOS TEMATIC AREA FILTERS -->
    
    <br><div class="divider"></div><br>

    <!-- DOCUMENTS -->
    <b>
      <i class="dtc-chevron fa fa-chevron-down" onclick="toggle_filter_container('.dtc-chevron', '#document-type-container');" ></i>
      <i class="dtc-chevron fa fa-chevron-right" onclick="toggle_filter_container('.dtc-chevron', '#document-type-container');" style="display: none"></i>
      <a href='#af-document-type-details-modal' class='modal-trigger right'><i class="fa fa-cog right" ></i></a>
      <span class="span-chevron" onclick="toggle_filter_container('.dtc-chevron', '#document-type-container');">{{ gettext("Document") }}</span>
    </b>
    <div id="document-type-container">
      <div class="input-field">
        <select id="document-type-select" name="study_unit[document-type]">
          <option value="ALL">{{ gettext("All") }}</option>
          <option value="Citable">Citable</option>
          <option value="non-Citable">non-Citable</option>
        </select>
        <label>Document Type</label>
      </div>
      <div class="input-field">
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="document_type_details_operation_aux" onclick="check('#document_type_details_operation');" value="AND" {{ 'checked' if filters.document_type_details_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <br>
        <div id="document-type-detail-checkboxes">
        </div>
        <a href='#af-document-type-details-modal' class='modal-trigger right'>{{ gettext("Show all") }}</a>
      </div>      
    </div>
    <!-- END DOCUMENTS -->
    
    <br><div class="divider"></div><br>
  </div>













  <!-- MODALS -->
  <!-- COLLECTIONS MODAL-->
  <div id="af-collections-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Collection") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox"  id="collections_operation" name="collections_operation" value="AND" onclick="check('#collections_operation_aux');" {{ 'checked' if filters.collections_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div class="checkbox-all-modal">
          <input type="checkbox" id="coll-modal" class="filled-in checkbox-deep-purple coll-checkbox" value="all" onchange="check_all('.coll-checkbox', $(this) )">
          <label for="coll-modal">{{ gettext("All") }}</label>
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-collections-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ gettext("Close") }}</a>
    </div>
  </div>

  <!-- JOURNALS MODAL-->
  <div id="af-journals-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Journal") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="journals_operation" name="journals_operation" onclick="check('#journals_operation_aux');" value="AND" {{ 'checked' if filters.journals_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div class="checkbox-all-modal">
          <input type="checkbox" id="jour-modal" class="filled-in checkbox-deep-purple jour-checkbox" value="all" onchange="check_all('.jour-checkbox', $(this) )">
          <label for="jour-modal">{{ gettext("All") }}</label>
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody  id="af-journals-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ gettext("Close") }}</a>
    </div>
  </div>

  <!-- DOCUMENT TYPE DETAILS MODAL-->
  <div id="af-document-type-details-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Document Type Detail") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="document_type_details_operation" name="document_type_details_operation"  onclick="check('#document_type_details_operation_aux');" value="AND" {{ 'checked' if filters.document_type_details_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div class="checkbox-all-modal">
          <input type="checkbox" id="dtd-modal" class="filled-in checkbox-deep-purple dtd-checkbox" value="all" onchange="check_all('.dtd-checkbox', $(this) )">
          <label for="dtd-modal">{{ gettext("All") }}</label>
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-document-type-details-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ gettext("Close") }}</a>
    </div>
  </div>

  <!-- THEMATIC AREAS MODAL-->
  <div id="af-thematic-area-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("SciELO Thematic Area") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="thematic_areas_operation" name="thematic_areas_operation" onclick="check('#thematic_areas_operation_aux');" value="AND" {{ 'checked' if filters.thematic_areas_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div class="checkbox-all-modal">
          <input type="checkbox" id="ta-modal" class="filled-in checkbox-deep-purple ta-checkbox" value="all" onchange="check_all('.ta-checkbox', $(this) )">
          <label for="ta-modal">{{ gettext("All") }}</label>
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-thematic-area-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ gettext("Close") }}</a>
    </div>
  </div>

  <!-- WOS THEMATIC AREAS MODAL-->
  <div id="af-wos-thematic-area-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("WOS Thematic Area") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox" id="wos_thematic_areas_operation" name="wos_thematic_areas_operation"  onclick="check('#wos_thematic_areas_operation_aux');" value="AND" {{ 'checked' if filters.wos_thematic_areas_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div class="checkbox-all-modal">
          <input type="checkbox" id="wta-modal" class="filled-in checkbox-deep-purple wta-checkbox" value="all" onchange="check_all('.wta-checkbox', $(this) )">
          <label for="wta-modal">{{ gettext("All") }}</label>
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-wos-thematic-area-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ gettext("Close") }}</a>
    </div>
  </div>

  <!-- LANGUAGES MODAL-->
  <div id="af-languages-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div style="position: absolute; z-index: 3;">
        <h4>{{ gettext("Language") }}</h4>
        <div class="switch">
          <label>
            {{ gettext("OR") }}
            <input type="checkbox"  id="languages_operation"  name="languages_operation" onclick="check('#languages_operation_aux');" value="AND" {{ 'checked' if filters.languages_operation == 'AND' else '' }}>
            <span class="lever"></span>
            {{ gettext("AND") }}
          </label>
        </div>
        <br>
        <div class="checkbox-all-modal">
          <input type="checkbox" id="lang-modal" class="filled-in checkbox-deep-purple lang-checkbox" value="all" onchange="check_all('.lang-checkbox', $(this) )">
          <label for="lang-modal">{{ gettext("All") }}</label>
        </div>     
      </div>
      <br>
      <table class="checkbox-datatable">
        <thead>
          <th></th>
        </thead>
        <tbody id="af-languages-modal-checkboxes">
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ gettext("Close") }}</a>
    </div>
  </div>
</form>
<!-- END FILTERS FORM -->
