<a id="selected-filters">
  <i class="fa fa-filter" aria-hidden="true" style="font-size: 1.3em"></i>
</a>
<a id="animate-btn" title="Animate Visualization">
  <i class="fa fa-play-circle" aria-hidden="true" onclick="change_visualization('{{ filters.visualization }}', true);" style="font-size: 1.3em"></i>
</a>