{% extends "v1/layouts/layout.html" %}


{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Number of documents by country of publication
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
	{% include "v1/partials/current_filters.html" %}
{% endblock%}


{% block visualization_block %}
	<div class="container">
    <div id="vis-tabs" class="col s12 m12 l6">
      <ul class="tabs">
        <li class="tab col s6"><a id="map-tab" class="active" href="#world">Map</a></li>
        <li class="tab col s6"><a id="treemap-tab"  href="#treemap">Treemap</a></li>
      </ul>
      <br>
      <!-- MAP -->
  		<div id="world">
				<div id="world_legend"></div>
  		</div>
      <!-- TREEMAP -->
      <div id="treemap"></div>
  	</div>
  </div>
{% endblock %}


{% block results %}
	<div class="container">
    <br><br>
  	<div class="col s12 m12 l6">
  		<table id="dataTable1" class="bordered striped">
  			<thead>
          <th></th>          
  				<th><center>Country</center></th>
  				<th><center>Number of Documents</center></th>
  			</thead>
  			<tbody>
          {% for key, value in data.items() %}
            <tr>
              <td><center><img src="/static/img/flags/{{key.lower()}}.gif"></center></td>
              <td><center>{{ value['country'] }}</center></td>
              <td><center>{{ value['quantity'] }}</center></td>
            </tr>
          {% endfor %}
  			</tbody>
  		</table>
  	</div>
  	<!-- Exportar Data -->
  	<form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
  		<input id="export-input" type="hidden" name="vistype" value="{{ filters.vistype }}">
  		<input id="export-input" type="hidden" name="data" value="{{ data }}">
  		<button class="btn deep-purple right waves-effect waves-light">Export</button>
  	</form>
  	<br><br>
  </div>
{% endblock %}

{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Documents distribution by affiliation countries</h4>
      <p>The visualization shows the number of documents (the sum) published in countries collections/journals according to the filters selected.</p>
      <p><i>Example:</i></p>
      <p>The amount of documents writen in english in the spanish collection in period 2007-2016 is: 7707</p>
      <img src="/static/img/documents.png" width="50%">
      <p>The color of the countries represents the amount of documents according to the color scale displayed below the map. </p>
      <p>When the mouse is hovering over the country, a detailed information is showed.</p>
      <p>The same information (and other aditional) is also showed in a table below the map.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
	{% include "v1/partials/filters2.js" %}
	{% include "v1/partials/current_filters.js" %}
	<script type="text/javascript">
    //Renderizamos jsons
    data = {{ data|tojson }};   
    data_treemap = {{ treemap|tojson }}
    
    //Map
    //Info hover países
    for(datamap_id in popupHash){
      if(datamap_id in data){
        popupHash[datamap_id] += "#Documents: " + data[datamap_id]["quantity"];
      }
    }
    map = draw_datamap();
    map.updateChoropleth(fillsColor(data));
    documents_legend(data, "Documents");
    
    //Treemap
    generate_treemap = true;
    $('#treemap-tab').on('click', function(){
      if (generate_treemap){
        simple_treemap(data_treemap, ["name"], "value");
        generate_treemap = false;
      }
    });
    
    //Modal
    $('.modal-trigger').leanModal();
	</script>
{% endblock %}