{% extends "v1/layouts/layout.html" %}


{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Number of documents by journal title
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
	{% include "v1/partials/current_filters.html" %}
{% endblock%}


{% block visualization_block %}
	<div class="container">
    <ul class="tabs">
      <li class="tab col s4"><a id="treemap-tab" class="active" href="#treemap-tabs-container">Treemap</a></li>
      <li class="tab col s4"><a id="treemap-tab" href="#table-tabs-container">Tables</a></li>
    </ul>
    
    <div id="vis-tabs" class="col s12 m12 l6">      
      <!-- TREEMAPs -->
      <div id="treemap-tabs-container">
        <ul class="tabs tabs-2do-nivel">
          <li class="tab col s4"><a id="bc-tab" class="active" href="#bc">By Collection</a></li>
          <li class="tab col s4"><a id="bta-tab"  href="#bta">By Thematic Area</a></li>
          <li class="tab col s4"><a id="bl-tab"  href="#bl">By Language</a></li>
          <li class="tab col s4"><a id="ba-tab"  href="#ba">By Affiliation</a></li>
          <li class="tab col s4"><a id="by-tab"  href="#by">By Year</a></li>
        </ul>

        <div id="bc">
          <div id="treemap-bc" class="treemap"></div>
        </div>

        <div id="bta">
          <div id="treemap-bta" class="treemap"></div>
        </div>

        <div id="bl">
          <div id="treemap-bl" class="treemap"></div>
        </div>

        <div id="by">
          <div id="treemap-by" class="treemap"></div>
        </div>

        <div id="ba">
          <div id="treemap-ba" class="treemap"></div>
        </div>
    </div>

    <!-- TABLEs -->
      <div id="table-tabs-container">
        <ul class="tabs tabs-2do-nivel">
          <li class="tab col s4"><a id="table-bj-tab"  class="active" href="#table-bc">By Collection</a></li>
          <li class="tab col s4"><a id="table-bc-tab"  href="#table-bta">By Thematic Area</a></li>
          <li class="tab col s4"><a id="table-ba-tab"  href="#table-ba">By Affiliation</a></li>
          <li class="tab col s4"><a id="table-bl-tab"  href="#table-bl">By Language</a></li>
          <li class="tab col s4"><a id="table-by-tab"  href="#table-by">By Year</a></li>
        </ul>

        <div id="table-bc">
          <ul class="collapsible popout" data-collapsible="accordion">
            {% for i in data_table["by_collection"] %}
              <li>
                <div class="collapsible-header">
                  {{ i }}
                </div>
                <div class="collapsible-body">
                <table class="table">
                  {% for k, v in data_table["by_collection"][i].items() %}
                    <tr>
                      <td>{{ k }}</td>
                      <td>{{ v }}</td>
                    </tr>
                  {% endfor %}
                </table>
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="container">
            <br><br>
            <!-- Exportar Data -->
            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_collection"] }}">
              <button class="btn deep-purple right waves-effect waves-light">Export</button>
            </form>
            <br><br>
          </div>
        </div>

        <div id="table-bta">
          <ul class="collapsible popout" data-collapsible="accordion">
            {% for i in data_table["by_area"] %}
              <li>
                <div class="collapsible-header">
                  {{ i }}
                </div>
                <div class="collapsible-body">
                <table class="table">
                  {% for k, v in data_table["by_area"][i].items() %}
                    <tr>
                      <td>{{ k }}</td>
                      <td>{{ v }}</td>
                    </tr>
                  {% endfor %}
                </table>
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="container">
            <br><br>
            <!-- Exportar Data -->
            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_collection"] }}">
              <button class="btn deep-purple right waves-effect waves-light">Export</button>
            </form>
            <br><br>
          </div>
        </div>


        <div id="table-ba">
          <ul class="collapsible popout" data-collapsible="accordion">
            {% for i in data_table["by_affiliation"] %}
              <li>
                <div class="collapsible-header">
                  {{ i }}
                </div>
                <div class="collapsible-body">
                <table class="table">
                  {% for k, v in data_table["by_affiliation"][i].items() %}
                    <tr>
                      <td>{{ k }}</td>
                      <td>{{ v }}</td>
                    </tr>
                  {% endfor %}
                </table>
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="container">
            <br><br>
            <!-- Exportar Data -->
            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_affiliation"] }}">
              <button class="btn deep-purple right waves-effect waves-light">Export</button>
            </form>
            <br><br>
          </div>
        </div>

        <div id="table-bl">
          <ul class="collapsible popout" data-collapsible="accordion">
            {% for i in data_table["by_language"] %}
              <li>
                <div class="collapsible-header">
                  {{ i }}
                </div>
                <div class="collapsible-body">
                <table class="table">
                  {% for k, v in data_table["by_language"][i].items() %}
                    <tr>
                      <td>{{ k }}</td>
                      <td>{{ v }}</td>
                    </tr>
                  {% endfor %}
                </table>
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="container">
            <br><br>
            <!-- Exportar Data -->
            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_language"] }}">
              <button class="btn deep-purple right waves-effect waves-light">Export</button>
            </form>
            <br><br>
          </div>
        </div>

        <div id="table-by">
          <ul class="collapsible popout" data-collapsible="accordion">
            {% for i in data_table["by_year"] %}
              <li>
                <div class="collapsible-header">
                  {{ i }}
                </div>
                <div class="collapsible-body">
                <table class="table">
                  {% for k, v in data_table["by_year"][i].items() %}
                    <tr>
                      <td>{{ k }}</td>
                      <td>{{ v }}</td>
                    </tr>
                  {% endfor %}
                </table>
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="container">
            <br><br>
            <!-- Exportar Data -->
            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_year"] }}">
              <button class="btn deep-purple right waves-effect waves-light">Export</button>
            </form>
            <br><br>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Documents distribution by affiliation countries</h4>
      <p>The visualization shows the number of documents (the sum) published in countries collections/journals according to the filters selected.</p>
      <p><i>Example:</i></p>
      <p>The amount of documents writen in english in the spanish collection in period 2007-2016 is: 7707</p>
      <img src="/static/img/documents.png" width="50%">
      <p>The color of the countries represents the amount of documents according to the color scale displayed below the map. </p>
      <p>When the mouse is hovering over the country, a detailed information is showed.</p>
      <p>The same information (and other aditional) is also showed in a table below the map.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
	{% include "v1/partials/filters3.js" %}
	{% include "v1/partials/current_filters.js" %}
  <script type="text/javascript">  
    //Renderizamos jsons
    data_treemap = {{ data_treemap|tojson }};
    console.log(data_treemap);
    
    /*Treemaps
    ----------------------------------------------------------*/
    generate_treemap_bc = true;
    $('#treemap-tab').on('click', function(){
      if (generate_treemap_bc){
        simple_treemap_with_time("#treemap-bc", data_treemap["by_collection"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bc = false;
      }
    });
    $('#bc-tab').on('click', function(){
      if (generate_treemap_bc){
        simple_treemap_with_time("#treemap-bc", data_treemap["by_collection"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bc = false;
      }
    });

    generate_treemap_bl = true;
    $('#bl-tab').on('click', function(){
      if (generate_treemap_bl){
        simple_treemap_with_time("#treemap-bl", data_treemap["by_language"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bl = false;
      }
    });

    generate_treemap_bta = true;
    $('#bta-tab').on('click', function(){
      if (generate_treemap_bta){
        simple_treemap_with_time("#treemap-bta", data_treemap["by_area"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bta = false;
      }
    });

    generate_treemap_by = true;
    $('#by-tab').on('click', function(){
      if (generate_treemap_by){
        simple_treemap_with_time("#treemap-by", data_treemap["by_year"], ["group", "sub-group"], "documents", "sub-group");
        generate_treemap_by = false;
      }
    });

    generate_treemap_ba = true;
    $('#ba-tab').on('click', function(){
      if (generate_treemap_ba){
        simple_treemap_with_time("#treemap-ba", data_treemap["by_affiliation"], ["group", "sub-group-country-demonym"], "documents", "year");
        generate_treemap_ba = false;
      }
    });

    //Modal
    $('.modal-trigger').leanModal();
  </script>
{% endblock %}