{% extends "v1/layouts/layout.html" %}


{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Number of documents by language
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
	{% include "v1/partials/current_filters.html" %}
{% endblock%}


{% block visualization_block %}
	<div class="container">
    <ul class="tabs">
      <li class="tab col s4"><a id="map-tab" class="active" href="#map">Map</a></li>
      <li class="tab col s4"><a id="treemap-tab" href="#treemap-tabs-container">Treemap</a></li>
      <li class="tab col s4"><a id="treemap-tab" href="#table-tabs-container">Tables</a></li>
    </ul>
    
    <div id="vis-tabs" class="col s12 m12 l6">
      <!-- MAP -->
      <div id="map">
        <div class="input-field">
          <select id="map-select" >
            {% for language in data_map.keys()|sort %}
              <option value="#map-{{ language.replace(' ', '_') }}">{{ ISO_639_ALPHA2[language]['english'] if ISO_639_ALPHA2.has_key(language) else language }}</option>
            {% endfor %}
          </select>
          <label>Language</label>
        </div>
        
        {% for language in data_map.keys() %}
          <div id="map-{{ language.replace(' ', '_') }}" class="map-show-hide" style="display: none;">
            <input type="hidden" class="d3plus-map-status" value="0">
            <div id="world-map-{{ language.replace(' ', '_') }}" class="d3plus-container"></div>      
          </div>
        {% endfor %}
      </div>
      
      <!-- TREEMAPs -->
      <div id="treemap-tabs-container">
        <ul class="tabs tabs-2do-nivel">
          <li class="tab col s4"><a id="bc-tab" class="active" href="#bc">By Collection</a></li>
          <li class="tab col s4"><a id="bta-tab"  href="#bta">By Thematic Area</a></li>
          <li class="tab col s4"><a id="ba-tab"  href="#ba">By Affiliation</a></li>
          <li class="tab col s4"><a id="bj-tab"  href="#bj">By Journal</a></li>
          <li class="tab col s4"><a id="by-tab"  href="#by">By Year</a></li>
        </ul>

        <div id="bc">
          <div class="card-panel deep-purple lighten-5 no-shadow">
            <span >
              The treemap shows the contribution of <b>Languages</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Collections</b> to the <b>Languages</b>.
              Boxes contain <i>mouseivering</i> information.
            </span>
          </div>
          <div id="treemap-bc" class="treemap"></div>
        </div>

        <div id="bta">
          <div class="card-panel deep-purple lighten-5 no-shadow">
            <span >
              The treemap shows the contribution of <b>Languages</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Thematic Areas</b> to the <b>Languages</b>.
              Boxes contain <i>mouseivering</i> information.
            </span>
          </div>
          <div id="treemap-bta" class="treemap"></div>
        </div>

        <div id="ba">
          <div class="card-panel deep-purple lighten-5 no-shadow">
            <span >
              The treemap shows the contribution of <b>Languages</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Countries of Author Affiliation</b> to the <b>Languages</b>.
              Boxes contain <i>mouseivering</i> information.
            </span>
          </div>
          <div id="treemap-ba" class="treemap"></div>
        </div>

        <div id="by">
          <div class="card-panel deep-purple lighten-5 no-shadow">
            <span >
              The treemap shows the contribution of <b>Languages</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Years</b> to the <b>Languages</b>.
              Boxes contain <i>mouseivering</i> information.
            </span>
          </div>
          <div id="treemap-by" class="treemap"></div>
        </div>

        <div id="bj">
          <div class="card-panel deep-purple lighten-5 no-shadow">
            <span >
              The treemap shows the contribution of <b>Languages</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Journals</b> to the <b>Languages</b>.
              Boxes contain <i>mouseivering</i> information.
            </span>
          </div>
          <div id="treemap-bj" class="treemap"></div>
        </div>
    </div>

    <!-- TABLEs -->
    <div id="table-tabs-container">
      <ul class="tabs tabs-2do-nivel">
        <li class="tab col s4"><a id="table-bc-tab" class="active" href="#table-bc">By Collection</a></li>
        <li class="tab col s4"><a id="table-ba-tab"  href="#table-ba">By Affiliation</a></li>
        <li class="tab col s4"><a id="table-bl-tab"  href="#table-bta">By Thematic Area</a></li>
        <li class="tab col s4"><a id="table-bj-tab"  href="#table-bj">By Journal</a></li>
        <li class="tab col s4"><a id="table-by-tab"  href="#table-by">By Year</a></li>
      </ul>

      <div id="table-bc">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for i in data_table["by_collection"] %}
            <li>
              <div class="collapsible-header">
                {{ i }}
              </div>
              <div class="collapsible-body">
              <table class="table">
                {% for k, v in data_table["by_collection"][i].items() %}
                  <tr>
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
            </li>
          {% endfor %}
        </ul>

        <div class="container">
          <br><br>
          <!-- Exportar Data -->
          <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
            <input id="export-input" type="hidden" name="data" value="{{ data_table["by_collection"] }}">
            <button class="btn deep-purple right waves-effect waves-light">Export</button>
          </form>
          <br><br>
        </div>
      </div>

      <div id="table-ba">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for i in data_table["by_affiliation"] %}
            <li>
              <div class="collapsible-header">
                {{ i }}
              </div>
              <div class="collapsible-body">
              <table class="table">
                {% for k, v in data_table["by_affiliation"][i].items() %}
                  <tr>
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
            </li>
          {% endfor %}
        </ul>

        <div class="container">
          <br><br>
          <!-- Exportar Data -->
          <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
            <input id="export-input" type="hidden" name="data" value="{{ data_table["by_affiliation"] }}">
            <button class="btn deep-purple right waves-effect waves-light">Export</button>
          </form>
          <br><br>
        </div>
      </div>

      <div id="table-bta">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for i in data_table["by_area"] %}
            <li>
              <div class="collapsible-header">
                {{ i }}
              </div>
              <div class="collapsible-body">
              <table class="table">
                {% for k, v in data_table["by_area"][i].items() %}
                  <tr>
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
            </li>
          {% endfor %}
        </ul>

        <div class="container">
          <br><br>
          <!-- Exportar Data -->
          <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
            <input id="export-input" type="hidden" name="data" value="{{ data_table["by_area"] }}">
            <button class="btn deep-purple right waves-effect waves-light">Export</button>
          </form>
          <br><br>
        </div>
      </div>

      <div id="table-by">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for i in data_table["by_year"] %}
            <li>
              <div class="collapsible-header">
                {{ i }}
              </div>
              <div class="collapsible-body">
              <table class="table">
                {% for k, v in data_table["by_year"][i].items() %}
                  <tr>
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
            </li>
          {% endfor %}
        </ul>

        <div class="container">
          <br><br>
          <!-- Exportar Data -->
          <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
            <input id="export-input" type="hidden" name="data" value="{{ data_table["by_year"] }}">
            <button class="btn deep-purple right waves-effect waves-light">Export</button>
          </form>
          <br><br>
        </div>
      </div>

      <div id="table-bj">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for i in data_table["by_journal"] %}
            <li>
              <div class="collapsible-header">
                {{ i }}
              </div>
              <div class="collapsible-body">
              <table class="table">
                {% for k, v in data_table["by_journal"][i].items() %}
                  <tr>
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
            </li>
          {% endfor %}
        </ul>
        
        <div class="container">
          <br><br>
          <!-- Exportar Data -->
          <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
            <input id="export-input" type="hidden" name="data" value="{{ data_table["by_journal"] }}">
            <button class="btn deep-purple right waves-effect waves-light">Export</button>
          </form>
          <br><br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Number of documents by language</h4>
      <p>Soon.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
	{% include "v1/partials/filters3.js" %}
	{% include "v1/partials/current_filters.js" %}
  <script type="text/javascript">  
    //Renderizamos jsons
    data_treemap = {{ data_treemap|tojson }};
    data_map = {{ data_map|tojson }};
    console.log(data_treemap);
    console.log(data_map);
    
    /*Map
    ----------------------------------------------------------*/
    $("#map-select").on('change', function(){
      container_id = $(this).val();
      d3_container_id = container_id.replace("#map-", "#world-map-")
      language = container_id.replace("#map-", "").replace("_", " ");
      $(".map-show-hide").hide();
      $(container_id).show();
      //Generamos mapa si es necesario
      if( $( container_id+" .d3plus-map-status" ).val() == 0 ){
        simple_map_with_time(d3_container_id, data_map[language], "group-country-code", "group-country-name", "documents", "documents");
        $( container_id+" .d3plus-map-status" ).val(1);
      }
    })

    
    /*Treemaps
    ----------------------------------------------------------*/
    generate_treemap_bc = true;
    $('#treemap-tab').on('click', function(){
      if (generate_treemap_bc){
        simple_treemap_with_time("#treemap-bc", data_treemap["by_collection"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bc = false;
      }
    });
    $('#bc-tab').on('click', function(){
      if (generate_treemap_bc){
        simple_treemap_with_time("#treemap-bc", data_treemap["by_collection"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bc = false;
      }
    });

    generate_treemap_ba = true;
    $('#ba-tab').on('click', function(){
      if (generate_treemap_ba){
        simple_treemap_with_time("#treemap-ba", data_treemap["by_affiliation"], ["group", "sub-group-country-demonym"], "documents", "year");
        generate_treemap_ba = false;
      }
    });

    generate_treemap_bta = true;
    $('#bta-tab').on('click', function(){
      if (generate_treemap_bta){
        simple_treemap_with_time("#treemap-bta", data_treemap["by_area"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bta = false;
      }
    });

    generate_treemap_by = true;
    $('#by-tab').on('click', function(){
      if (generate_treemap_by){
        simple_treemap_with_time("#treemap-by", data_treemap["by_year"], ["group", "sub-group"], "documents", "sub-group");
        generate_treemap_by = false;
      }
    });

    generate_treemap_bj = true;
    $('#bj-tab').on('click', function(){
      if (generate_treemap_bj){
        simple_treemap_with_time("#treemap-bj", data_treemap["by_journal"], ["group", "sub-group"], "documents", "year");
        generate_treemap_bj = false;
      }
    });

    //Modal
    $('.modal-trigger').leanModal();
  </script>
{% endblock %}