{% extends "layouts/layout2.html" %}


{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}


{% block visualization_block %}
	<div class="visualization-block">
      	<br>
        <!-- Area Dibujo -->
        <div class="row">
          <!-- Area de descripción -->
          <div class="col s4 m3 l3">
            <div class="scope-and-description">
              <div class="container">
              	<h5>Working Data</h5>
                <p>
                	<b>Scope:</b><br>
                	Document
                </p>
                <div class="divider"></div><br>
                <p>
                	<b>Tabulation:</b><br>
                	By Country of Publication Document
                </p>
									<div class="divider"></div><br>                
              </div>                 
            </div>
          </div>
          <!-- Area de dibujo -->
          <div class="col s8 m9 l9">
            <div class="visualizations-area">
              <!-- MAPS -->
              <div id="maps-container">
              	<div class="input-field">
				          <select id="map-select" >
				            <option value="#map-bta">Thematic Area</option>
				            <option value="#map-by">Years</option>
				          </select>
				          <label>Show map by:</label>
				        </div>
				        
				        <div id="map-bta" class="map-show-hide">
				          <div class="card-panel deep-purple lighten-5 no-shadow">
				            <span >
				              The map is colored according to the number of documents by <b>Thematic Area</b>. Countries contain <i>mouseivering</i> information. 
				            </span>
				          </div>
				          <input type="hidden" class="d3plus-map-status" value="1">
				          <div id="world-map-bta" class="d3plus-container"></div>      
				        </div>

				        <div id="map-by" class="map-show-hide" style="display: none;">
				          <div class="card-panel deep-purple lighten-5 no-shadow">
				            <span >
				              The map is colored according to the number of documents by <b>Year</b>. Countries contain <i>mouseivering</i> information.
				            </span>
				          </div>
				          <input type="hidden" class="d3plus-map-status" value="0">
				          <div id="world-map-by" class="d3plus-container"></div>
				        </div>
              </div>
              <!-- TREEMAPS -->
              <div id="treemaps-container">
            		<div class="col s12 m8 l8">
			              <div class="input-field">
			                <select id="vistype-select" name="vistype">
			                  <option value="ALL" disabled>ALL</option>
			                </select>
			                <label>Show</label>
			              </div>
			            </div>
			            <div class="col s12 m3 l3">
			              <div class="input-field">
			                <select>
			                  <option value="0">year</option>
			                  <option value="1">journal</option>
			                  <option value="2">language</option>
			                  <option value="3">collection</option>
			                  <option value="4">thematic area</option>
			                  <option value="5">country of author's affiliation</option>

			                </select>
			                <label>By</label>
			              </div>
			            </div>
			            <div class="col s12 m1 l1">
			            	<br>
			              <a class="btn-flat waves-effect waves-light"><i class="material-icons">mode_edit</i></a>
			            </div>

			            <ul class="tabs tabs-2do-nivel">
					          <li class="tab col s4"><a id="bta-tab" class="active" href="#bta">By Thematic Area</a></li>
					          <li class="tab col s4"><a id="ba-tab"  href="#ba">By Affiliation</a></li>
					          <li class="tab col s4"><a id="bl-tab"  href="#bl">By Language</a></li>
					          <li class="tab col s4"><a id="bj-tab"  href="#bj">By Journal</a></li>
					          <li class="tab col s4"><a id="by-tab"  href="#by">By Year</a></li>
					        </ul>

					        <div id="bta">
					          <div class="card-panel deep-purple lighten-5 no-shadow">
					            <span >
					              The treemap shows the contribution of <b>Collections</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Thematic Areas</b> to the <b>Collections</b>.
					              Boxes contain <i>mouseivering</i> information.
					            </span>
					          </div>
					          <div id="treemap-bta" class="treemap"></div>
					          <br>
					        </div>
					        
					        <div id="ba">
					          <div class="card-panel deep-purple lighten-5 no-shadow">
					            <span >
					              The treemap shows the contribution of <b>Collections</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Countries of Author Affiliation</b> to the <b>Collections</b>.
					              Boxes contain <i>mouseivering</i> information.
					            </span>
					          </div>
					          <div id="treemap-ba" class="treemap"></div>
					          <br>
					        </div>
					        
					        <div id="bl">
					          <div class="card-panel deep-purple lighten-5 no-shadow">
					            <span >
					              The treemap shows the contribution of <b>Collections</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Languages</b> to the <b>Collections</b>.
					              Boxes contain <i>mouseivering</i> information.
					            </span>
					          </div>
					          <div id="treemap-bl" class="treemap"></div>
					          <br>
					        </div>
					        
					        <div id="by">
					          <div class="card-panel deep-purple lighten-5 no-shadow">
					            <span >
					              The treemap shows the contribution of <b>Collections</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Years</b> to the <b>Collections</b>.
					              Boxes contain <i>mouseivering</i> information.
					            </span>
					          </div>
					          <div id="treemap-by" class="treemap"></div>
					          <br>
					        </div>
					        
					        <div id="bj">
					          <div class="card-panel deep-purple lighten-5 no-shadow">
					            <span >
					              The treemap shows the contribution of <b>Collections</b> to the total documents. Clicking on the treemap boxes, the image displays the contribution of <b>Journals</b> to the <b>Collections</b>.
					              Boxes contain <i>mouseivering</i> information.
					            </span>
					          </div>
					          <div id="treemap-bj" class="treemap"></div>
					          <br>
					        </div>
              </div>
              <!-- TABLES -->
              <div id="tables-container">
              	<div class="col s12 m8 l8">
			              <div class="input-field">
			                <select id="vistype-select" name="vistype">
			                  <option value="ALL" disabled>ALL</option>
			                </select>
			                <label>Show</label>
			              </div>
			            </div>
			            <div class="col s12 m3 l3">
			              <div class="input-field">
			                <select>
			                  <option value="0">year</option>
			                  <option value="1">journal</option>
			                  <option value="2">language</option>
			                  <option value="3">collection</option>
			                  <option value="4">thematic area</option>
			                  <option value="5">country of author's affiliation</option>

			                </select>
			                <label>By</label>
			              </div>
			            </div>
			            <div class="col s12 m1 l1">
			            	<br>
			              <a class="btn-flat waves-effect waves-light"><i class="material-icons">mode_edit</i></a>
			            </div>

			            <ul class="tabs tabs-2do-nivel">
					          <li class="tab col s4"><a id="table-bc-tab" class="active" href="#table-bta">By Thematic Area</a></li>
					          <li class="tab col s4"><a id="table-ba-tab"  href="#table-ba">By Affiliation</a></li>
					          <li class="tab col s4"><a id="table-bl-tab"  href="#table-bl">By Language</a></li>
					          <li class="tab col s4"><a id="table-bj-tab"  href="#table-bj">By Journal</a></li>
					          <li class="tab col s4"><a id="table-by-tab"  href="#table-by">By Year</a></li>
					        </ul>

					        <div id="table-bta">
					          <ul class="collapsible popout" data-collapsible="accordion">
					            {% for i in data_table["by_area"] %}
					              <li>
					                <div class="collapsible-header">
					                  {{ i }}
					                </div>
					                <div class="collapsible-body">
					                <table class="table">
					                  {% for k, v in data_table["by_area"][i].items() %}
					                    <tr>
					                      <td>{{ k }}</td>
					                      <td>{{ v }}</td>
					                    </tr>
					                  {% endfor %}
					                </table>
					                </div>
					              </li>
					            {% endfor %}
					          </ul>

					          <div class="container">
					            <br><br>
					            <!-- Exportar Data -->
					            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
					              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_collection"] }}">
					              <button class="btn deep-purple right waves-effect waves-light">Export</button>
					            </form>
					            <br><br>
					          </div>
					        </div>

					        <div id="table-ba">
					          <ul class="collapsible popout" data-collapsible="accordion">
					            {% for i in data_table["by_affiliation"] %}
					              <li>
					                <div class="collapsible-header">
					                  {{ i }}
					                </div>
					                <div class="collapsible-body">
					                <table class="table">
					                  {% for k, v in data_table["by_affiliation"][i].items() %}
					                    <tr>
					                      <td>{{ k }}</td>
					                      <td>{{ v }}</td>
					                    </tr>
					                  {% endfor %}
					                </table>
					                </div>
					              </li>
					            {% endfor %}
					          </ul>

					          <div class="container">
					            <br><br>
					            <!-- Exportar Data -->
					            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
					              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_affiliation"] }}">
					              <button class="btn deep-purple right waves-effect waves-light">Export</button>
					            </form>
					            <br><br>
					          </div>
					        </div>

					        <div id="table-bl">
					          <ul class="collapsible popout" data-collapsible="accordion">
					            {% for i in data_table["by_language"] %}
					              <li>
					                <div class="collapsible-header">
					                  {{ i }}
					                </div>
					                <div class="collapsible-body">
					                <table class="table">
					                  {% for k, v in data_table["by_language"][i].items() %}
					                    <tr>
					                      <td>{{ k }}</td>
					                      <td>{{ v }}</td>
					                    </tr>
					                  {% endfor %}
					                </table>
					                </div>
					              </li>
					            {% endfor %}
					          </ul>

					          <div class="container">
					            <br><br>
					            <!-- Exportar Data -->
					            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
					              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_language"] }}">
					              <button class="btn deep-purple right waves-effect waves-light">Export</button>
					            </form>
					            <br><br>
					          </div>
					        </div>

					        <div id="table-by">
					          <ul class="collapsible popout" data-collapsible="accordion">
					            {% for i in data_table["by_year"] %}
					              <li>
					                <div class="collapsible-header">
					                  {{ i }}
					                </div>
					                <div class="collapsible-body">
					                <table class="table">
					                  {% for k, v in data_table["by_year"][i].items() %}
					                    <tr>
					                      <td>{{ k }}</td>
					                      <td>{{ v }}</td>
					                    </tr>
					                  {% endfor %}
					                </table>
					                </div>
					              </li>
					            {% endfor %}
					          </ul>

					          <div class="container">
					            <br><br>
					            <!-- Exportar Data -->
					            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
					              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_year"] }}">
					              <button class="btn deep-purple right waves-effect waves-light">Export</button>
					            </form>
					            <br><br>
					          </div>
					        </div>

					        <div id="table-bj">
					          <ul class="collapsible popout" data-collapsible="accordion">
					            {% for i in data_table["by_journal"] %}
					              <li>
					                <div class="collapsible-header">
					                  {{ i }}
					                </div>
					                <div class="collapsible-body">
					                <table class="table">
					                  {% for k, v in data_table["by_journal"][i].items() %}
					                    <tr>
					                      <td>{{ k }}</td>
					                      <td>{{ v }}</td>
					                    </tr>
					                  {% endfor %}
					                </table>
					                </div>
					              </li>
					            {% endfor %}
					          </ul>
					          
					          <div class="container">
					            <br><br>
					            <!-- Exportar Data -->
					            <form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
					              <input id="export-input" type="hidden" name="data" value="{{ data_table["by_journal"] }}">
					              <button class="btn deep-purple right waves-effect waves-light">Export</button>
					            </form>
					            <br><br>
					          </div>
					        </div>
              </div>
            </div>

          </div>
        </div>            
      </div>
      <div class="divider"></div>
{% endblock%}


{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Number of documents by country of publication</h4>
      <p>Soon.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
	{% include "v1/partials/filters3.js" %}
	{% include "v1/partials/current_filters.js" %}
  <script type="text/javascript">  
    //Renderizamos jsons
    data_treemap = {{ data_treemap|tojson }};
    data_map = {{ data_map|tojson }};
    console.log(data_treemap);
    console.log(data_map);
    
    /*Map
    ----------------------------------------------------------*/
    d3plus_map = d3plus_geomap("#world-map-bta", data_map["by_area"], "group-country-code", "group-country-name", "documents", "documents");
    d3plus_map.ui([ 
                    { 
                      "method" : "color",
                      "value"  : data_map["keys"]
                    },
              ])
              .time({"value": "year"})
              .draw()
    $("#map-select").on('change', function(){
      container_id = $(this).val();
      d3_container_id = container_id.replace("#map-", "#world-map-");
      $(".map-show-hide").hide();
      $(container_id).show();
      //Generamos mapa si es necesario
      if( $( container_id+" .d3plus-map-status" ).val() == 0 ){
        if( container_id == "#map-bta"){
          d3plus_map = d3plus_geomap("#world-map-bta", data_map["by_area"], "group-country-code", "group-country-name", "documents", "documents");
          d3plus_map.ui([ 
                          { 
                            "method" : "color",
                            "value"  : data_map["keys"]
                          },
                    ])
                    .time({"value": "year"})
                    .draw()
        }
        if( container_id == "#map-by"){
          d3plus_map = d3plus_geomap("#world-map-by", data_map["by_year"], "group-country-code", "group-country-name", "documents", "documents")
          d3plus_map.time({"value": "sub-group"})
                    .draw()
        }
        $( container_id+" .d3plus-map-status" ).val(1);
      }
    });

    /*Treemaps
    ----------------------------------------------------------*/
    generate_treemap_bta = true;
    $('#treemap-tab').on('click', function(){
      if (generate_treemap_bta){
        simple_treemap_with_time("#treemap-bta", data_treemap["by_area"], ["group-country-name", "sub-group"], "documents", "year");
        generate_treemap_bta = false;
      }
    });
    $('#bta-tab').on('click', function(){
      if (generate_treemap_bta){
        simple_treemap_with_time("#treemap-bta", data_treemap["by_area"], ["group-country-name", "sub-group"], "documents", "year");
        generate_treemap_bta = false;
      }
    });

    generate_treemap_ba = true;
    $('#ba-tab').on('click', function(){
      if (generate_treemap_ba){
        simple_treemap_with_time("#treemap-ba", data_treemap["by_affiliation"], ["group-country-name", "sub-group-country-demonym"], "documents", "year");
        generate_treemap_ba = false;
      }
    });

    generate_treemap_bl = true;
    $('#bl-tab').on('click', function(){
      if (generate_treemap_bl){
        simple_treemap_with_time("#treemap-bl", data_treemap["by_language"], ["group-country-name", "sub-group"], "documents", "year");
        generate_treemap_bl = false;
      }
    });

    generate_treemap_by = true;
    $('#by-tab').on('click', function(){
      if (generate_treemap_by){
        simple_treemap_with_time("#treemap-by", data_treemap["by_year"], ["group-country-name", "sub-group"], "documents", "year");
        generate_treemap_by = false;
      }
    });

    generate_treemap_bj = true;
    $('#bj-tab').on('click', function(){
      if (generate_treemap_bj){
        simple_treemap_with_time("#treemap-bj", data_treemap["by_journal"], ["group-country-name", "sub-group"], "documents", "year");
        generate_treemap_bj = false;
      }
    });

    //Modal
    $('.modal-trigger').leanModal();
  </script>
{% endblock %}