{% extends "v1/layouts/layout.html" %}


{% block filters %}
	{% include "v1/partials/filters2.html" %}
{% endblock %}


{% block content %}
	<div class="container">
  	<div class="col s12 m12 l12">
  		<br><br>
			<h4>
				Number of documents by thematic area
				<!-- Modal Info Trigger -->
				<a href="#modal-info" class="modal-trigger  right btn btn-flat waves-effect waves-light"><i class="material-icons">info_outline</i></a>
			</h4>
  	</div>
		<hr>
  </div>
	{% include "v1/partials/current_filters.html" %}
{% endblock%}


{% block visualization_block %}
	<div class="container">
    <ul class="tabs">
      <li class="tab col s4"><a id="map-tab" class="active" href="#map">Map</a></li>
      <li class="tab col s4"><a id="treemap-tab" href="#treemap-tabs-container">Treemap</a></li>
    </ul>
    
    <div id="vis-tabs" class="col s12 m12 l6">
      <!-- MAP -->
      <div id="map">
        <div id="world">
          <div id="world_legend"></div>
        </div>
        <table id="map-dataTable" class="bordered striped">
          <thead>
            <th><center>Thematic Area</center></th>
            <th><center>Number of Documents</center></th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      
      <!-- TREEMAPs -->
      <div id="treemap-tabs-container">
        <ul class="tabs tabs-2do-nivel">
          <li class="tab col s4"><a id="bc-tab" class="active" href="#bc">By Collection</a></li>
          <li class="tab col s4"><a id="ba-tab"  href="#ba">By Affiliation</a></li>
          <li class="tab col s4"><a id="bl-tab"  href="#bl">By Language</a></li>
          <li class="tab col s4"><a id="bj-tab"  href="#bj">By Journal</a></li>
          <li class="tab col s4"><a id="by-tab"  href="#by">By Year</a></li>
        </ul>

        <div id="bc">
          <div id="treemap-bc" class="treemap"></div>
          <ul class="collapsible" data-collapsible="accordion">
          </ul>
        </div>

        <div id="ba">
          <div id="treemap-ba" class="treemap"></div>
          <ul class="collapsible" data-collapsible="accordion">
          </ul>
        </div>

        <div id="bl">
          <div id="treemap-bl" class="treemap"></div>
          <ul class="collapsible" data-collapsible="accordion">
          </ul>
        </div>

        <div id="by">
          <div id="treemap-by" class="treemap"></div>
          <ul class="collapsible" data-collapsible="accordion">
          </ul>
        </div>

        <div id="bj">
          <div id="treemap-bj" class="treemap"></div>
          <ul class="collapsible" data-collapsible="accordion">
          </ul>
        </div>


    </div>
  </div>
{% endblock %}


{% block results %}
	<div class="container">
    <br><br>
  	<!-- Exportar Data -->
  	<form id="filters-form" action="{{ url_for('exporterController.export') }}" method=post>
  		<input id="export-input" type="hidden" name="vistype" value="{{ filters.vistype }}">
  		<input id="export-input" type="hidden" name="data" value="{{ data }}">
  		<button class="btn deep-purple right waves-effect waves-light">Export</button>
  	</form>
  	<br><br>
  </div>
{% endblock %}

{% block modals %}
  <!-- Modal Info Structure -->
  <div id="modal-info" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Documents distribution by affiliation countries</h4>
      <p>The visualization shows the number of documents (the sum) published in countries collections/journals according to the filters selected.</p>
      <p><i>Example:</i></p>
      <p>The amount of documents writen in english in the spanish collection in period 2007-2016 is: 7707</p>
      <img src="/static/img/documents.png" width="50%">
      <p>The color of the countries represents the amount of documents according to the color scale displayed below the map. </p>
      <p>When the mouse is hovering over the country, a detailed information is showed.</p>
      <p>The same information (and other aditional) is also showed in a table below the map.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
	{% include "v1/partials/filters3.js" %}
	{% include "v1/partials/current_filters.js" %}
  <script type="text/javascript">  
    //Renderizamos jsons
    data = {{ data|tojson }};
    console.log(data);
    
    /*Map
    ----------------------------------------------------------*/

    
    /*Treemaps
    ----------------------------------------------------------*/
    generate_treemap_bc = true;
    $('#treemap-tab').on('click', function(){
      if (generate_treemap_bc){
        simple_treemap_with_time("#treemap-bc", data["treemap"]["by_collection"], ["area", "sub-group"], "documents", "year");
        generate_treemap_bc = false;
      }
    });
    $('#bc-tab').on('click', function(){
      if (generate_treemap_bc){
        simple_treemap_with_time("#treemap-bc", data["treemap"]["by_collection"], ["area", "sub-group"], "documents", "year");
        generate_treemap_bc = false;
      }
    });

    generate_treemap_ba = true;
    $('#ba-tab').on('click', function(){
      if (generate_treemap_ba){
        simple_treemap_with_time("#treemap-ba", data["treemap"]["by_affiliation"], ["area", "sub-group"], "documents", "year");
        generate_treemap_ba = false;
      }
    });

    generate_treemap_bl = true;
    $('#bl-tab').on('click', function(){
      if (generate_treemap_bl){
        simple_treemap_with_time("#treemap-bl", data["treemap"]["by_language"], ["area", "sub-group"], "documents", "year");
        generate_treemap_bl = false;
      }
    });

    generate_treemap_by = true;
    $('#by-tab').on('click', function(){
      if (generate_treemap_by){
        simple_treemap_with_time("#treemap-by", data["treemap"]["by_year"], ["area", "sub-group"], "documents", "sub-group");
        generate_treemap_by = false;
      }
    });

    generate_treemap_bj = true;
    $('#bj-tab').on('click', function(){
      if (generate_treemap_bj){
        simple_treemap_with_time("#treemap-bj", data["treemap"]["by_journal"], ["area", "sub-group"], "documents", "year");
        generate_treemap_bj = false;
      }
    });

    //Modal
    $('.modal-trigger').leanModal();
  </script>
{% endblock %}