{% extends "v2/layouts/layout.html" %}


{% block filters %}
  {% include "v2/partials/filters.html" %}
{% endblock %}


{% block advanced_filters %}
  {% include "v2/partials/relationship-filters.html" %}
{% endblock %}


{% block visualization_block %}
  <div class="container">
      <div id="options-panel" class="left">
        {% include "v2/partials/scope-2-export-options.html" %}
        {% include "v2/partials/social_networks.html" %}        
      </div>
      <div class="right">
        <a id="info-trigger">
          <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1.3em"></i>
        </a>
      </div>
      <br>

      <div id="visualization-area">
        <!-- Rings -->
        <div id="rings-container">
          <div id="rings-info" class="card-panel deep-purple lighten-5 info-container">
            {{ gettext("Network-Ring shows the connections between <b class='scope-tabulation'></b>, focused on 1 node (selected) in the network. It displays primary and secondary connections of a specific node.") }}
          </div>
          <div id="circular-layout" class="d3plus-container-xl"></div>
        </div>
      </div>

      <!-- TABLEs -->
      <div id="table-container" style="display: none;">
        <table id="data_table">
          <thead style="border-bottom: solid 1px black;">
            <th>{{ gettext("Thematic Area") }}</th>
            <th>{{ gettext("Number of Authors") }}</th>
            <th>{{ gettext("Number of Author's Countries") }}</th>
            <th>{{ gettext("Author's Country") }}</th>
          </thead>
          <tbody style="border-bottom: solid 1px black;">
            {% for ta, v in data_table.items() %}         
              <tr>
                <td>{{ ta }}</td>
                <td><center>{{ v["authors"] }}</center></td>
                <td><center>{{ v["countries"]|length }}</center></td>
                <td>
                  {% for flag in v["countries"] %}
                    <object data="/static/img/flags/{{ flag[0].lower() }}.gif" type="image/png" alt="{{ flag[1] }}">
                      <img src="/static/img/flags/undefined.gif" alt="{{ flag[1] }}" />
                    </object>
                  {% endfor %}
                  <br><br>
                </td>
              </tr>
            {% endfor %}            
          </tbody>
        </table>
      </div>
  </div>
{% endblock %}


{% block js_footer %}
  {% include "v2/partials/filters-3.js" %}
  <script type="text/javascript">
    //Renderizamos jsons
    data_ring = {{ data_rings|tojson }};
    data_ring2 = {{ data_rings|tojson }};
    data_table = {{ data_table|tojson }};
    visualization = "{{ filters.visualization|safe }}"
    
    var generated_ring = false;

    $('.scope-tabulation').html("["+stFilters["{{filters.scope}}"]["tabulations"]["{{filters.tabulation}}"]["text"][LANG]+"]");

    change_visualization(visualization);
    function change_visualization(option){
      $("#rings-container").hide();
      $("#info-trigger").hide();
      $("#info-trigger").mouseover('');
      $("#info-trigger").mouseout('');
      /*Rings
      ----------------------------------------------------------*/
      if(option == "circular layout"){
        $("#rings-container").show();
        $("#info-trigger").show();
        $("#info-trigger").mouseover( function(){$('#rings-info').show()});
        $("#info-trigger").mouseout(function(){$('#rings-info').hide()});
        if(!generated_ring){
          focus = false;
          if(data_ring["edges"].length > 0){
            focus = data_ring["edges"][0]["target"];
          }
          simple_rings("#circular-layout", data_ring["edges"], focus)
          generated_ring = true;
        }
      }

      /*Table
      ----------------------------------------------------------*/
      if(option == "table"){
        $("#table-container").show();
      }
    }

    $("#data_table").dataTable({
      "paging":   false,
      "info":     false,
    });
    //Modal
    $('.modal-trigger').leanModal();
  </script>
{% endblock %}